
.filterbar, #filtrosClose {
  display: none;
}

.filtros {
  ui.dropdown {
    z-index: 0;
    .menu {
      z-index: 10;
    }
  }
  .ui.accordion {
    .title {
      color:#fff;
      font-size:18px;
      font-style: italic;
      text-transform:initial;
      background-color:#e60007;
      padding: 8px 0 8px 14px;
      font-weight:600;
      text-align:left;
      &.active {
        box-shadow:none;
      }
      .icon {
        float: right;
        margin-top: 3px;
      }
      
      >span {
        word-break: break-word;
        max-width: 120px;
        display: inline-block;
      }
    }
  }

  button.close {
    display: none;
  }
}

.filterColumn {
  @media screen and (max-width: $mobile-bp) {
    display: none !important;
    }
  &.ativo {
    @media screen and (max-width: $mobile-bp) {
      display: block !important;
      }
    }
  }

#filtros {

      button.button.basic.primary.checkText {
        box-shadow:none !important;
        text-align:left;
        margin:0.5em 0em !important;
        padding:0 0 0 14px !important;
        color:#828282 !important;
        font-size:16px !important;
        font-weight:600 !important;
        background:transparent !important;
        &:hover {
          background:transparent !important;
        }
      }


  @media screen and (max-width: $mobile-bp) {
    display: none !important;
  }

  .row {

    @media screen and (max-width: $mobile-bp) {
      padding: 0px;
    }
  }

  .filterbar {

    @media screen and (max-width: $mobile-bp) {
      height: 45px;
      color: #ffffff;
      background: $ascent-5-color;
      width: 100vw;
      margin: -1em -1em 20px -1em !important;
      vertical-align: middle;
      line-height: 45px;
    }

    h3 {

      @media screen and (max-width: $mobile-bp) {
        line-height: 45px;
        float: left;
        width: calc(100vw - 60px);
        position: absolute;
        left: 10px;
      }
    }

    .button {
      @media screen and (max-width: $mobile-bp) {
        float: right;
        height: 45px;
        width: 45px;
        margin: 0px !important;
        border-radius: 0px;
        font-size: 20px;
        padding: 10px;
        margin-right: -4px !important;
      }
    }
  }
}

#filtros.ativo {

  @media screen and (max-width: $mobile-bp) {
    background: #ffffff;
    position: fixed !important;
    bottom: 0px;
    left: 0px;
    z-index: 9999;
    padding: 1em;
    width: 100%;
    display: inline-block !important;
    height: 100%;
    overflow-y: scroll;
  }
}



.groupList {

  .segment {
    box-shadow: none;
    -webkit-box-shadow: none;
    padding: 2em 0px;
    border-bottom: 5px solid $primary-color;

    .item {
      padding-left: 1.5em;
      color:#666666 !important;
      font-size: 16px;
      
      h3 {
        font-size: 16px;
        margin:0;
        font-weight: normal;
      }
    }
  }
}