﻿<div class="departamentos_home">
    <div class="container visible-lg visible-md visible-xl">
        <div class="row">
            <div class="col-xs-6">
                <h2>Explore nossos departamentos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2">
                <a href="categoria/tintas-e-acessorios">
                    <img src="/assets/image/departamentos/tinta.png" alt="" class="img-responsive">
                </a>
                <p><a href="/categoria/iluminacao">Tintas</a></p>
            </div>
            <div class="col-xs-2">
                <a href="/categoria/iluminacao/luminarias">
                    <img src="/assets/image/departamentos/lamp.png" alt="" class="img-responsive">
                </a>
                <p><a href="/categoria/iluminacao/luminarias">Luminárias</a></p>
            </div>
            <div class="col-xs-2">
                <a href="/categoria/limpeza-e-manutencao">
                    <img src="/assets/image/departamentos/trash.png" alt="" class="img-responsive">
                </a>
                <p><a href="/categoria/limpeza-e-manutencao">Utilidades</a></p>
            </div>
            <div class="col-xs-2">
                <a href="/categoria/materiais-hidraulicos//torneiras">
                    <img src="/assets/image/departamentos/torneira.png" alt="" class="img-responsive">
                </a>
                <p><a href="/categoria/materiais-hidraulicos/torneiras">Torneiras</a></p>
            </div>
            <div class="col-xs-2">
                <a href="/categoria/decoracao-e-organizacao">
                    <img src="/assets/image/departamentos/prat.png" alt="" class="img-responsive">
                </a>
                <p><a href="/categoria/decoracao-e-organizacao">Organização</a></p>
            </div>
            <div class="col-xs-2">
                <a href="/categoria/jardim-e-varanda">
                    <img src="/assets/image/departamentos/vaso.png" alt="" class="img-responsive">
                </a>
                <p><a href="/categoria/jardim-e-varanda">Jardinagen</a></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <a href="/categoria/materiais-hidraulicos">
                    <img src="/assets/image/departamentos/hidraulica.png" alt="" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-12 col-md-6">
                <a href="/categoria/pisos-e-revestimentos">
                    <img src="/assets/image/departamentos/dicas.png" alt="" class="img-responsive">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="/categoria/jardim-e-varanda">
                    <img src="/assets/image/departamentos/jarinagem_desk.png" alt="" class="img-responsive hidden-xs hidden-sm">
                    <img src="/assets/image/departamentos/jarinagem_mob.png" alt="" class="img-responsive visible-xs visible-sm">
                </a>
            </div>
        </div>
    </div>
</div>