﻿<div class="ui container fluid infoBar new_home">
    <div class="ui container">
        <div class="ui middle stackable grid computer only">
            <div class="row doubling four column">
                <div class="infoBar-wrapper">

                <div class="column column-01">
                    <div class="icon_place">
                    </div>
                    <div class="text_place">
                        <h3>Loja Física com</h3>
                        <b>Mais de 30 anos</b>
                    </div>
                </div>
                <div class="column column-02">
                    <div class="icon_place">
                    </div>
                    <div class="text_place">
                        <h3>Preços Exclusivos</h3>
                        <b>Somente no Site</b>
                    </div>
                </div>
                <div class="column column-03">
                    <div class="icon_place">
                    </div>
                    <div class="text_place">
                        <h3>Canal Empresa</h3>
                        <b>Condições Exclusivas</b>
                    </div>
                </div>
                <div class="column column-04">
                    <a href="/fale-conosco" title="Solicite um Orçamento">
                        <div class="icon_place">
                        </div>
                        <div class="text_place">
                            <b>Solicite um Orçamento</b>
                        </div>
                    </a>
                </div>

                </div>
            </div>  
        </div>
    </div>
</div>