﻿<div class="novidades_home">
    <div class="container">
        <div class="row visible-lg visible-md visible-xl">
            <div class="col-xs-6">
                <h2>Novidades</h2>
            </div>
            <div class="col-xs-6">
                <p class="text-right">Confira nossas últimas novidades e ofertas especiais</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <a href="/categoria/ferramentas/ferramentas-eletricas">
                    <img src="/assets/image/novidades1.png" alt="" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-12 col-md-4">
                <a href="/busca?n=torneira%20eletrica">
                    <img src="/assets/image/novidades2.png" alt="" class="img-responsive">
                </a>
            </div>
            <div class="col-xs-12 col-md-4">
                <a href="/categoria/iluminacao">
                    <img src="/assets/image/novidades3.png" alt="" class="img-responsive">
                </a>
            </div>
        </div>
    </div>
</div>