﻿@model List<DomainCheckout.Entities.PaymentGateway>
@{
    int total_parcelas_exibidas = 0;
}
@if (Model != null && Model.Any() && Model.FirstOrDefault().PaymentMethods != null && Model.FirstOrDefault().PaymentMethods.Any() && Model.FirstOrDefault().PaymentMethods.FirstOrDefault().PaymentBrands != null)
{
    <div class="ui segment formas-pagamento" id="calculo-parcelamento">
        <div class="ui accordion fluid" id="parcelamento_b2b">
            <div class="title">
                <i class="dropdown icon"></i>
                <span id="btnParcelamento text color black"><strong>Parcelas e formas de pagamento</strong></span>
            </div>
            <div class="content  @(Session["segment"] != null && Session["segment"].ToString() == "b2b" ? "first-b2b-payment" : "")">
                <div class="accordion" id="parcelamento_info">
                    <div class="ui menu top">
                        <!-- INÍCIO MENU -->
                        @foreach (var gateways in Model)
                        {
                            foreach (var methods in gateways.PaymentMethods)
                            {
                                foreach (var brands in methods.PaymentBrands)
                                {
                                    <a class="item" data-tab="@brands.IdPaymentBrand"><i class="money bill alternate outline icon"></i>@brands.Name</a>

                                }
                            }

                        }
                    </div>
                    <!--FIM MENU-->
                    <!--INICIO TRATAMENTO DOS PARCELAMENTOS-->
                    @foreach (var gateways in Model)
                    {
                        foreach (var methods in gateways.PaymentMethods)
                        {
                            foreach (var brands in methods.PaymentBrands)
                            {
                                <div class="ui tab segment" data-tab="@brands.IdPaymentBrand">
                                    @foreach (var parcelas in brands.Installments)
                                    {
                                        var typeDiscount = brands.typeDiscount != null ? brands.typeDiscount.Value : DomainCheckout.Entities.typeDiscount.General;
                                        var totalCompra = parcelas.Total.ToString("C");

                                        if (parcelas.InstallmentNumber == 1)
                                        {
                                            if (typeDiscount == DomainCheckout.Entities.typeDiscount.FirstInstalment)
                                            {
                                                totalCompra = parcelas.Value.ToString("C");
                                            }
                                        }
                                        <span class="item parcelamentos">
                                            <span class="parcelas">@parcelas.InstallmentNumber x</span>
                                            <span class="valor"> @parcelas.Value.ToString("C") </span>
                                            <span class="modelo">(@parcelas.Description)</span>
                                            <span class="total">Total Parcelado: @totalCompra</span>
                                        </span>
                                    }
                                </div>


                            }
                        }

                    }
                    <!--FIM TRATAMENTO DOS PARCELAMENTOS-->
                </div>
            </div>
        </div>
    </div>


}


<script>
    $('.top.menu .item').tab();
</script>