.flexCenter {
  align-items: center;
  display: flex;
  justify-content: center;
}

.ui.sidebar.carrinho, #miniCarrinho {
  background-color: #fff;
  height: 100%;
  margin: -1rem;
  margin-top: -1rem;
  max-width: 35vw;
  min-width: 650px;
  padding: 0;


  .description.resultado {

    label.frete.valor {
      float:left;
      select {}
    }
    .field > .ui {}
    button#btn_recalcular_frete {
      color:#fff;
      padding:0;
      text-transform:uppercase;
      font-size:14px;
      line-height:45px !important;
      background-color:#e60007;
    }

  }


  a.logo-carrinho {
    display:block;
    float:left;
    height:80px;
    img {
      max-height:50px;
      margin:15px 15px 15px 0;
    }
  }
  .title-carrinho {
    display:block;
    float:left;
    margin-right:10px;
    font-weight:600;
    color:#e60007;
    font-size:16px;
    text-transform:uppercase;
  }


  .subtotal {
      font-size:18px !important;
      color:#e60007;
    }    

  strong[id*=preco_total] {
      color:#e60007;
      font-size:18px;
    }
    i.remove.icon {
      background:#000;
      color:#fff;
      width:25px;
      height:25px;
      line-height:25px;
      text-align:center;
      border-radius:25px;
    }
      button.buttonsMiniCart {
        color:#fff !important;
        line-height:45px !important;
        background:#e60007 !important;
        padding:0 38px 0 18px !important;
        text-transform:uppercase;
      }
      button.removeCartItem {
        background:transparent !important;
      }
      a.adicionarMais {
        position:relative !important;
        color:#fff !important;
        padding:0 !important;
        line-height:45px !important;
        border-radius:0 !important;
        background-color:#3cb371 !important;
        border: 0 !important;
        box-shadow:none !important;
        >.visible.content {
          padding:0 !important;
        }
        >.hidden.content {
          margin:0 !important;
          top:0 !important;
        }
      }
      button#btn_finalizar {
        padding:0 !important;
        line-height:45px !important;
        border-radius:0 !important;
        border: 0 !important;
        box-shadow:none !important;
        >.visible.content {
          padding:0 !important;
        }
        >.hidden.content {
          margin:0 !important;
          top:0 !important;
        }
      }
      .text-subTotalCarrinho {
        color:#e60007;
        font-weight:600;
        font-size:17px;
        text-transform:uppercase;
        > .description {
          color:#e60007;
          margin-top:0;
        }
      }


  @media screen and (max-width: $mobile-bp) {
    min-width: 100% !important;
    max-width: 100% !important;
    width: 100% !important;
  }




  > div.row:first-child {
    padding: 0px;
  }

  .ui.form {

    .button {
      margin-bottom: 0px;
    }
  }

  .row.head {
    background-color: #fff;
    height: 80px;
    line-height: 80px;
    padding: 0px;

    #MiniCartTitle{
      display:block;
      float:left;
      width:30px;
      height:30px;
      border-radius:50px;
      line-height:30px;
      text-align:center;
      color:#e60007;
      background-color:#f1f100;
      margin-top:25px;
      white-space:nowrap;
      text-indent:-169px;
      letter-spacing:5px;
      overflow:hidden;
      font-weight:600;
      font-size:16px !important;
    }

    a.fecharCarrinho {
      width:30px !important;
      height:30px !important;
      border-radius:30px !important;
      padding: 0 !important;
      background-color:#888 !important;
      i.remove.icon {
        display:block;
        text-align:center;
        font-size:16px !important;
        font-weight:600 !important;
        color:#fff !important;
        line-height:30px !important;
        width:30px !important;
        height:30px !important;
      }
    }
  }
  .row.info {
    height: 45px;
    padding: 0;
    font-size:16px;
    text-transform:uppercase;
    background-color:#3cb371 !important;

    .column {
      color: #ffffff;
      font-size: 18px;
      font-weight: 600;
      line-height: 45px;
      text-align: center;

      i {
        display:block;
        position:absolute;
        top:0;
        left:0;
        font-size: 30px;
        line-height: 45px;
      }
      span {
        position:relative;
        display:inline-block;
        line-height: 45px;
        padding: 0 0 0 40px;
      }
    }

  }
  .row.elemento {
    padding: 0;

    @media screen and (max-width: $mobile-bp) {
      padding: 0;
    }

    .ui.items {

      &:not(:first-child) {
        margin-top: 0px;
      }

      &:first-child {
        margin-bottom: .5em;
      }

      .subtotal{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1rem;
      }

    }
    .listaItems {
      border-bottom: 1px solid rgba(34, 36, 38, .15);
      overflow: hidden !important;
      padding-top: 20px;
      position: relative;

      @media screen and (max-width: $mobile-bp) {
        margin-bottom: .2em;
      }

      &.items {

        .item {

          .ui.image {
            
            @media screen and (max-width: $mobile-bp) {
              width: auto !important;
              max-width: 100px !important;
            }

            +.content {
              @media screen and (max-width: $mobile-bp) {
                padding-left:1em !important;
              }
            }

          }        
          

          &.detalhes {
            padding-bottom: .7em;
            padding-top: 0em;
          }
          
          + .item {
            border-top: 1px solid #eee;
            padding-top: 1.5em;
          }
        }

        .item.detalhes {
          margin: 0px;
          padding: 0.5em 0;
          text-align: right;
          @media screen and (max-width: $mobile-bp) {
            padding: .5em 0 !important;
          }

          .description {
            margin: 0px;
            h3 {
              @media screen and (max-width: $mobile-bp) {
                line-height: 24px !important;
              }
            }
            table {

              thead {
                background-color: #eeeeee;

                th {
                  font-size: 13px;
                  font-weight: bold;
                  padding: .72857143em .68571429em !important;
                }
              }
            }
          }

        }
      }
    }
    .dados-carrinho{
      .item.detalhes{
        @media screen and (max-width: $mobile-bp) {
          margin:0px !important;
          padding:0.2em;
        }
      }
    }
  }
}

.description {

  &.resultado {
    display: none;
    padding-bottom: 0.6em;
  }

  &.frete {
    padding-bottom: 0.6em;
  }
}

.busca.cep {
  display: table;
  height: 100%;

  > p {
    display: table-cell;
    vertical-align: middle;
  }
}

#checkout.progress {
  margin-bottom: 5px !important;
}

.ui.items {

  &.fluid {
    width: 100%;
  }

  &.card-checkout {

    .item {
      padding: 1rem 0;
      margin: 0;

      .checkbox {
        font-size: 13px;
        width: 100% !important;
      }
    }
  }

  &.compra {
    max-height: 235px;
    position: relative;
    overflow-y: scroll;
  }
}

#checkout {
  display: none;
}


#ListProductsCheckout,
#checkout_products_list,
#checkout_products_list_cart{
  .product.title{
    h1{
      font-size: 14px;
      margin-bottom: 0.2em;
      font-weight: bold;
      color: $black;

    }
    div{
      font-weight: normal;
      font-size: 11px;
      color:$grey;
    }
  }
  .product.avaibility{
    color: #000;
    font-size: 14px;
    font-weight: bold;
  }
  
  .removeCartItem,
  .removeItemEventList {
    i.icon {
      font-size:1.3em;
      cursor: pointer;
    }
  }
}
#checkout_products_list_cart{
  a.product.title{
    h1{
      font-size: 1.35em;
      margin-bottom: 0.3em;
    }
    div{
      font-weight: normal;
      font-size: 13px;
      color:$grey;
    }
  }
  .product.avaibility{
    color:$grey;
    font-size: 0.95em;
  }
}

.presente {
  .ui.toggle.checkbox input:checked ~ .box:before, .ui.toggle.checkbox input:checked ~ label:before {
    background-color: #21BA45 !important;
  }
}

.disable_column{
  pointer-events: none;
  opacity: 0.45;
}

#checkOneClickMaxiPago .custom_oneClick {
  width: 25px;
  padding: 0;
  max-width: 25px;
  margin: 4px;
}

@media only screen and (max-width: 768px) {
  #ListProductsCheckout {
    height: 100% !important;
  }
}
