/*Colors*/

$primary-color: #e60007;
$secondary-color: #222;
$active-color: #405B75;
$ascent-1-color: #2980B9;
$ascent-2-color: #F39C12;
$ascent-3-color: #C0392B;
$ascent-4-color: #1D2A37;
$ascent-5-color: #131C24;
$dark-green:#0e4f1d;
$action: #fa6b6b;