$menuBG: $primary-color;
$menuTextColor: $white;
$menuHeight: 50px;
$menuHoverBorderColor: $secondary-color;
$colorLinkSubMenu: "#666";

.menuheader {
  background-color: $menuBG;
  width: 100%;
  height:90px;
  clear:both;
  /*Sub Classes*/
  .ui.menu {
    background: transparent;
    background-color: transparent;  
    border: 0px;
    box-shadow: none;
    display: flex;
    float:left;
    font-weight: 400;
    min-height: 2.85714286em;
    flex-wrap: wrap;
    margin:0;
    width: calc(100% - 120px);
    li {
      &:hover,
      &.active,
      &:focus {
        color:#fff;
        background:#000;
        }
      > .item {
          word-wrap: normal;
          overflow: hidden;
          text-overflow: ellipsis;
          margin:0;
          font-size: 14px;
          line-height: 16px;
          height:90px;
          padding:10px 0 0 0;
          font-weight:700;
          display: inherit;

          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;

          -webkit-transition: all .5s ease;
          -moz-transition: all .5s ease;
          -o-transition: all .5s ease;
          transition: all .5s ease;
        &:hover,
        &.active,
        &:focus {
          color:#fff;
          background:#000;
          }
        &:before{
            content:"";
            position:inherit;
            top:inherit;
            display:block;
            height:38px;
            margin: 0 auto 4px;
            background-image:url('./../../assets/image/sprite.png');
            background-color: transparent;
          }
        &[href*="tintas-e-acessorios"]:before{
            content:"";
            width:36px;
            background-position:0 -215px;
          }
        &[href*="ferramentas"]:before{
            content:"";
            width:44px;
            background-position:-41px -215px;
          }
        &[href*="banheiros"]:before{
            content:"";
            width:33px;
            background-position:-91px -214px;
          } 
        &[href*="cozinha"]:before{
            content:"";
            width:30px;
            background-position:-130px -214px;
          } 
        &[href*="iluminacao"]:before{
            content:"";
            width:26px;
            background-position:-166px -214px;
          }
        &[href*="materiais-eletricos"]:before{
            content:"";
            width:26px;
            background-position:-198px -214px;
          }
        &[href*="materiais-de-construcao"]:before{
            content:"";
            width:26px;
            background-position:-230px -214px;
          } 
        &[href*="materiais-hidraulicos"]:before{
            content:"";
            width:35px;
            background-position:-262px -214px;
          } 
        &[href*="decoracao"]:before{
            content:"";
            width:40px;
            background-position:-303px -214px;
          } 
        &[href*="pisos-e-revestimentos"]:before{
            content:"";
            width:36px;
            background-position:-349px -215px;
          }



        > .icon.dropdown {
          display:none;
          }
        > .icon.content {
          font-size: 26px;
          line-height: 1;
          margin-right: 15px;
          }
        .menu {
          border-radius: 0px !important;
          margin-top: 0px !important;
          z-index: 10;
          .item {
            line-height: 18px;
            &:hover,
            &.active,
            &:focus {
              box-shadow: none !important;
              }
            }
          .menu {
            box-shadow: none;
            }
            
          }
        }
      }
      .header {
        a {
          color:$colorLinkSubMenu;
          font-size:14px;
          font-weight: 300;
        }
      } 
    }
  .ui.menu .item {
    color: $menuTextColor;
    line-height: $menuHeight;
    padding-bottom: 0px;
    padding-top: 0px;
    }
  .sub-megamenu {
    .ui.link.list {
      .item {
        color: rgba(0, 0, 0, 0.7);
        margin: 0.5em 0px;
        padding-left: 10px;
        }
      }
    }
  .ui.menu > .item:first-child,
  .ui.menu > .item:last-child {
    border-radius: 0px;
    }
  .ui.list {
    
    h4 {
      font-weight: normal;
    }
    .item {
      color: rgba(0, 0, 0, .7);
      padding-left: 10px !important;
      &:hover,
      &.active,
      &:focus {
        color: rgba(0, 0, 0, .9);
        box-shadow: inset 5px 0 0 $menuHoverBorderColor;
        transition: opacity 0.3s ease-in-out;
        }
      }
    }
    .menu-all {
      display:block;
      float:right;
      height:90px;
      width:120px;
      .title {
        position:relative;
        display:block;
        color:#fff;
        text-align:center;
        background:#000;
        height:100%;
        line-height:16px;
        font-size:14px;
        font-weight:800;
        font-style:italic;
        padding:14px 0 0 0;
        box-sizing:border-box;
        cursor:pointer;
        &:before {
          content:"";
          display:block;
          margin: 0 auto 16px;
          width:56px;
          height:21px;
          background-position:-392px -222px;
          background-image:url('./../../assets/image/sprite.png');
        }
      }
      .megamenu-all {
        display:none;
        width:100%;
        position:absolute;
        right:0;
        opacity:1;
        z-index:1200;
        &:after {
            content:"";
            position:absolute;
            top:0;
            left:0;
            display:block;
            width:100%;
            height:100%;
            box-shadow: 0 2500px 0 2500px rgba(0, 0, 0, 0.8);
            z-index:-1;
        }
      }
      &:hover {
        .megamenu-all {
          display:block;
        }
      }

      .wsmenu-list-all {
        display:block;
        margin:0;
        padding:25px;
        background:#efefef;
        list-style:none;
        box-sizing:border-box;
        z-index:9;
        border: solid 4px #fff;
        overflow:hidden;
        >li {
            display:block;
            width:16.5%;
            float:left;
            font-size:15px;
            padding:0 5px 15px 5px;
            box-sizing:border-box;
          >a {
            font-weight:600;
            display:block;
            height:40px;
            /* font-style:italic; */
            &:hover{
              color:#e60007;
            }
          }
          i.icon {
            display:none;
          }
        }
        .menu-line {
          display:block;
          width:100%;
          clear:both;
          float:left;
          height:30px;
        }
        .menu-image {
          display:none;
        }
        .megamenu-child-wrapper {
          list-style:none;
          padding:0;
          a {
            /*font-weight:600;
            font-style:italic;*/
            display:block;
            padding:2px 0;
            &:hover{
              color:#e60007;
            }
          }
          li:nth-child(n+5) {
              display:none;
          }
          li.last-item {
              display:block !important;
              a {
                  text-decoration:underline;
                  font-weight:600;
              }
          }
        }
      }
    }
  }
/* Mega Menu Start */
@import "wsmenu/style";
/* MegaMenu End */