@import url('https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');

//Home
a{
  color: #000;
  &:hover{
    color: initial;
  }
}
.ui.visible.right.sidebar ~ .pusher{
  transform: translate3d(0%, 0, 0)!important;
}
._header2{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    &.visible-mobile{
      display: block;
    }
    padding: 30px 0px 0px 0px;
    background: #DB3838;
    img{
      height: auto;
    }
    .ui.search > .results .result .imagem {
      width: 100px;
      max-width: 75px;
    }
    &-menu_hamburger, &-logo, &-selo, &-buttons {
      display: inline-block !important;
    }
    &-menu_hamburger{
      left: 15px;
      z-index: 99;
      position: relative;
      img{
        margin-top: 20px;
        filter: brightness(0) invert(1);
      }
    }
    &-logo{
      margin-top: 5px;
      img{
        width: 34vw;
        max-width: 130px;
        margin-left: 28px;
      }
    }
    &-selo{
      img{
        width: 18vw;
        max-width: 70px;
        margin-left: 5px;
      }
    }
    &-logo-selo{
      display: inline-block;
      position: relative;
      @media (width: 320px){
        left: 31%;
      }
      left: 35%;
      transform: translateX(-50%);
    }
    &-buttons{
      position: absolute;
      right: 15px;
      top: 55px;
      img{
        max-width: 23px;
      }
      .arrow{
        border: solid #fff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        position: relative;
        top: -3px;
        left: 5px;
      }
      .minha{ 
        &-conta, &-compra{
          display: inline-block;
          font-size: 0px;
        }
        &-conta{
          margin: 0px 6px 0px 6px;
          span:nth-child(3) {
            font-weight: bold;
            font-size: 13px;
          }
        }
        &-compra{
          font-weight: bold;
        }
      }
    }
    &.hidden-mobile{
      display: none;
    }
      &-search_mobile{
          margin-top: 12px;
    }
    i.icon.search:before{
      content: '';
      background-image: url(/assets/image/search-icon.png) !important;
      height: 30px;
      background-position: center !important;
      background-repeat: no-repeat !important;
      right: 10px;
      top: 5px;
      position: absolute;
    }
    @media (min-width: 991px){
      padding: 10px 0px 10px 0px;
      &.visible-mobile{
        display: none;
      }
      &.hidden-mobile{
        display: block;
      }
      &-televendas{
        margin-top: 15px;
        padding-left: 40px;
        span{
          color: #fff;
          display: block;
        }
        a{
          color: #fff;
          font-weight: 800;
          letter-spacing: 0.7px;
          &:hover{
            text-decoration: none;
          }
        }
        &::before{
          content: '';
          height: 45px;
          width: 45px;
          background-image: url(/assets/image/icon-televendas_mobile.png);
          filter: brightness(0) invert(1);
          background-position: center;
          background-repeat: no-repeat;
          display: block;
          position: absolute;
          left: 5px;
        }
      }
      &-logo{
        img{
          margin-left: 0px;
        }
      }
      &-selo{
        img{
          margin-left: 0px;
          position: relative;
          right: 30px;
        }
      }
      .searchcolumn{
        margin-top: 10px;
      }
      &-buttons{
        position: relative;
        top: 15px;
        right: 0;
        img{
          position: absolute;
          max-width: 35px;
          width: 35px;
        }
        span{
          color: #fff;
        }
        .minha{ 
          &-conta, &-compra{
            position: relative;
            display: inline-block;
            span{
              margin-left: 40px;
              font-size: 14px;
            }
          }
          &-conta{
            margin: 0px 6px 0px 6px;
            span{
              display: block;
            }
          }
          &-compra{
            margin-left: 15px;
            float: right;
            span{
              margin-left: 0;
              left: 45px;
              position: relative;
              top: 10px;
            }
          }
        }
      }
    }
}
._header2-menu{
  position: fixed;
  left: 0;
  right: 0;
  top: 89px;
  z-index: 999;
  background: #fff;
  .sub-menu{
    z-index: 9999;
    background: #fff;
    display: none;
    width: 440px;
    height: 290px;
    padding: 20px;
    -webkit-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.3);
    & > a{
      position: absolute;
      top: 50px;
      left: 230px;
      img{
        max-width: 190px;
      }
    }
  }
  .last-item{
    a{
      color: #e60007;
      font-weight: bold;
    }
  }
  ul{
    padding: 0;
    list-style: none;
    margin-bottom: 0px !important;
    li{
      cursor: pointer;
      display: inline-block;
      padding: 0px 8px 0px 8px;
      line-height: 30px;
      &:nth-child(1){
        padding-left: 0;
      }
      &:hover{
        & > a{
          font-weight: bold;
          color: #e60007;
        }
        div{
          display: block;
          position: absolute;
          li{
            display: block;
            padding-left: 0;
          }
        }
      }
    }
  }
  a{
    color: #000;
    &:hover{
      text-decoration: none;
    }
  }
  .promotion{
    line-height: 20px;
    float: right;
    background: #28B6E3;
    padding: 2px 20px;
    border-radius: 28px;
    margin-top: 4px;
    margin-bottom: 4px;
    a{
      color: #fff;
      padding: 0px;
      margin: 0 auto;

    }
    &:hover{
      padding: 2px 18px;
    }
  }
  .all_categories{
    .arrow{
      border: solid black;
      border-width: 0 1.5px 1.5px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      float: right;
      position: relative;
      right: 20px;
      top: 15px;
    }
    padding-left: 12px !important;
    &::before{
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 5px;
      background-image: url(/assets/image/icon-menu_mobile.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    ul{
      display: none;
      li{
        display: none;
        &:nth-child(1){
          padding-left: 8px;
        }
      }
    }
    & > ul{
      z-index: 99;
      background: #fff;
      padding: 5px 0px 15px 21px;
      width: 280px;
      left: 0px;
      & > li{
        &:hover{
          .arrow{
            border-color: #DB3838;
          }
          & > ul{
            background: #f3f3f3 !important;
            display: block !important;
            position: absolute;
            z-index: 99;
            background: #fff;
            padding: 5px 0px 15px 10px;
            width: 280px;
            left: 270px;
            top: 0px;
            height: 100%;
            li{
              display: block !important;
            }
          }
        }
      }
    }
    &:hover{
      & > ul{
        position: absolute;
        display: block;
        & > li{
          display: block;
        }
      }
    }
  }
}
._header2-menu + div, ._header2-menu + section {
  margin-top: 120px !important;
  @media only screen and (max-width: 767px){
    margin-top: 135px !important;
  }
}
._header2-menu + .breadcrumbs {
  margin-top: 135px !important;
  @media only screen and (max-width: 767px){
    margin-top: 160px !important;
  }
}
.mobile-nav{
    &.actived{
        left: 0;
    }
    position: fixed;
    top:0;
    width: 85vw;
    height: 100vh;
    left: -100vw;
    border-right: 1px solid red;
    background: #fff;
    transition: 0.3s;
    z-index: 9999;
    ul{
        list-style: none;
        padding-left: 0px;
    }
    & > ul{
        margin-top: 60px;
        &.actived{
            margin-top: 24px;
            li, .sub-menu, .todos_departamentos-display{
                display: none;
                &.actived{
                    display: block;
                }
            }
            & > li.actived{
                display: none;
            }
            .sub-menu.actived{
                li{
                    display: block;
                }
            }
        }
        .sub-menu, .todos_departamentos-display{
            display: none;
        }
        .todos_departamentos{
            &-display{
                &_scroll{
                    height: 53vh;
                    overflow: auto;
                    &.actived{
                        & > ul{
                            display: none;
                            &.actived{
                                display:block
                            }
                        }
                    }
                }
                &.actived{
                    div{
                        ul{
                            li{
                                display: block;
                            }
                        }
                    }
                }
                &.opened{ 
                    margin-top: -7px;
                    .todos_departamentos-display_scroll{
                        overflow: hidden;
                        height: 70vh;
                        & > ul{
                            height: 70vh;	
                        }
                        .sub-menu ul{
                            overflow: auto;
                            height: 55vh;
                        }
                    }
                    & > p, & > .back-button, & > div > ul.actived li.actived{
                        display: none;
                    }
                }
            }
        }
    }
    .arrow{
        border: solid black;
        border-width: 0 1.5px 1.5px 0;
        display: inline-block;
        padding: 4px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        float: right;
        position: relative;
        right: 20px;
        top: 5px;
    }
    .back-button{
        padding-left: 20px;
        background: #C4C4C4;
        display: block;
        padding: 8px 30px;
        color: #141414;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 10px;
        .arrow{
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            float: left;
            right: initial;
            left: -5px;
            top: 4px;
        }
    }
    li{
        padding: 11px 0px 11px 20px;
        &.todos_departamentos{
            color: #e60007;
            font-weight: bold;
            .arrow{
                border-color: #e60007;
            }
        }
        &.last-item{
            font-weight: bold;
        }
    }
    p{
        margin-left: 65px;
        font-weight: bold;
        color: #e60007;
        font-size: 16px;
        margin-top: 4px;
    
        span{
            display: block;
            font-weight: normal;
            font-size: 12px;
            line-height: 12px;
        }
    }
    .menu-icon{
        position: absolute;
        top: 25px;
        left: 20px;
    }
    &--televendas{
        position: absolute;
        bottom: 0;
        padding: 30px 20px 25px 20px;
        display: flex;
        left: 0;
        right: 0;
        border: 1px solid #D0D0D0;
        a{
            margin-left: 10px;
            color: #e60007;
            font-size: 16px;
            font-weight: bold;
            span{
                font-weight: normal;
                display: block;
            }
        }
        img{
            width: 37px;
        }
    }
}
.blur{
    &.actived{
        display: block;
    }
    display: none;
    background: rgba(255, 255, 255, 0.6);
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    left: 0;
    z-index: 999;
}
.ui.container{
  padding: 0;
}
.full_banner_sanders{
  .slick-slider:not(.slick-dotted) {
    margin-bottom: 0px!important;
  }
  .textFullBanner{
    display: none;
  }
  @media only screen and (max-width: 767px){
    img.ui.image{
      width: 100%;
      max-width: 100%;
    }
  }
}
.infoBar.new_home{
  padding: 20px 0 !important;
  background: #fff;
  margin: 0;
  .row{
    margin-right: 0px; 
    margin-left: 0px; 
  }
  .infoBar-wrapper{
    width: 100%;
  }
  .column-01, .column-02, .column-03, .column-04{
      border: 2px solid #DB3838;
      border-radius: 50px;
      padding-left: 80px;
      width: calc( 25% - 15px ); 
      margin: 0 7.5px;
      h3, b{
          text-transform: none;
      }
      .icon_place{
        background-position: center;
        background-repeat: no-repeat;
        width: 55px;
        height: 35px;
        background-size: 28px;
        margin-left: 15px;

      }
      .text_place{
          padding-top: 5px;
          min-height:43px;
          h3{
              font-size: 15px;
              font-weight: normal;
          }
          b{
              color: #DB3838;
              font-size: 13px;
          }
      }
  }
  .column-01 {
    .icon_place{
      background-image: url(/assets/image/location.png);
    }
  }
  .column-02 {
    .icon_place{
      background-image: url(/assets/image/tag.png);
    }
  }
  .column-03 {
    .icon_place{
      background-image: url(/assets/image/laborers.png);
    }
  }
  .column-04{ 
    background: #DB3838;
    b,h3{
      color: #fff !important;
    }
    b{
      margin-top: 10px;
    }
    .icon_place{
      background-image: url(/assets/image/choices.png);
    }
  }
  .ui[class*="computer only"].grid.grid.grid:not(.mobile) {
    display: block !important;
  }
  .slick-slider:not(.slick-dotted) {
    margin-bottom: 0px !important;
  }
  @media only screen and (max-width: 767px){
    margin: 20px 0;
    .column-01, .column-02, .column-03, .column-04{
      margin: 0 30px;
    }
  }
}
.novidades_home, .departamentos_home{
  margin-top: 20px;
  h2{
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  p{
    margin-top: 7px;
  }
  img{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
  .slick-track{
    padding-bottom: 45px;
  }
  @media only screen and (max-width: 767px){
    .col-xs-12{
      padding: 0;
    }
    img{
      max-width: 450px;
    }
  }
}
.novidades_home{
  .visible-lg{
    margin-bottom: 15px;
  }
}
.departamentos_home{
  h2{
    margin-bottom: 10px;
  }
  img{
    margin-bottom: 15px;
  }
  .col-xs-6{
    padding: 0 7.5px;
  }
  .col-xs-12.col-md-6{
    margin: 0 7.5px;
    width: calc(50% - 15px);
    padding: 0;
  }
  .col-xs-12{
    width: 100%;
    padding: 0 7.5px;
  }
  .col-xs-2{
    background: #FFF5EC;
    margin: 0 7.5px;
    width: calc(16.66% - 15px);
    margin-bottom: 70px;
    padding: 0;
    border-radius: 10px;
    a{
      display: block;
      position: relative;
      margin: 20px auto;
      width: 100px;
      height: 100px;
      max-width: 100%;
    }
    p{
      background: #fff;
      a{
        text-decoration: none;
        padding-top: 5px;
        width: 100%;
        text-align: center;
        margin: 0px auto;
        height: auto;
        color: #000;
      }
    }
    img{
      position: absolute;
      top: 50%;
      transform: translatey(-50%);
      margin: 0 auto;
      max-width: 90%;
    }
  }
  @media only screen and (max-width: 767px){
    .col-xs-12.col-md-6, .col-xs-12{
      margin: 0;
      width: 100%;
      padding: 0;
    }
    img{
      margin-bottom: 7.5px;
    }
  }
}
.topsellers, .car-marcas{
  a.ui.basic.black.button.slick-arrow, .slick-arrow{
    background-position: center !important;
    background-repeat: no-repeat !important;
    &.slick-prev{
      background-image: url(./../../assets/image/arrow_slick-left.png) !important;
    }
    &.slick-next{
      background-image: url(./../../assets/image/arrow_slick-right.png) !important;
    }
  }
}
.topsellers.mais_vendidos, .featuredProducts .topsellers{
  margin-top: 80px;
  .slick-arrow{
    background-position: center !important;
    background-repeat: no-repeat !important;
    &.slick-prev{
      background-image: url(./../../assets/image/arrow_slick-left.png) !important;
    }
    &.slick-next{
      background-image: url(./../../assets/image/arrow_slick-right.png) !important;
    }
  }
  .row{
    margin-right: 0px;
    margin-left: 0px;
  }
  .ui.four.cards{
    margin: 0;
    padding: 0;
  }
  .text{
    position: relative;
    h2, p{
      width: 50%;
      display: inline-block;
    }
    h2{
      position: absolute;
      left: 20px;
      text-align: left;
      font-size: 24px;
      top: -15px;
      margin-bottom: 5px;
      color: #000;
      letter-spacing: initial;
      text-transform: none;
      font-weight: bold;
    }
    p{
      position: absolute;
      right: 20px;
      top: -15px;
      text-align: right;
      margin-top: 7px;
      font-size: 15px;
      color: #000;
      letter-spacing: initial;
      text-transform: none;
      font-weight: normal;
    }
  }
  .card.produto{
    margin: 15px !important;
    min-height: 455px;
  }
  .ui.card .content img{
    max-height: 160px !important;
    width: auto;
    margin: auto;
    display: block;
  }
  .ui.card .content .label img{
    max-width: 100%;
  }
  .ui.image.fluid{
    height: 160px;
  }
  .ui.slide.reveal > .hidden.content{
    width: auto !important;
  }
  .ui.slide.masked.reveal.image.fluid{
    display: flex !important;
  }
  .card.produto{
    .hidden{
      display: block !important;
    }
  }
  .card.produto > .content .info .btn-comprar-card{
    text-transform: initial !important;
    left: -5px;
  }
  .card.produto > .content .info .btn-comprar-card:before{
    background-image: url('/assets/image/shopping_cart-header.png');
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat;
    top: 9px;
  }
  .card.produto > .content .info .dados h3{
    font-weight: normal !important;
  }

  //Mostar a 2 imagem
  .card.produto:hover .content .ui.slide.masked.reveal.image > .visible.content{
    transform: translateX(-200%) !important;
  }
  .card.produto:hover .content .ui.slide.masked.reveal.image > .hidden.content{
    transform: translateX(-50%) !important;
    left: 50% !important;
  }
  .ui.slide.reveal > .hidden.content{
    -webkit-transform: translateX(200%) !important;
    transform: translateX(200%) !important;
  }

  @media only screen and (max-width: 767px){
    .text{
      position: relative;
      h2, p{
        position: relative;
        text-align: center;
        width: 100%;
        left: 0;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
      }
    }
    .card.produto{
      margin: 0px !important;
      min-height: 390px;
      height: 390px;
    }
    // dividir os 4 produtos da home em 2
    .ui.two.doubling.cards > .card{
      width: 50%;
    }
    .card.produto{
      //tamenho do box mobile
      height: 400px;
      > .content{
        padding: 15px 0;
      }
    }
    //Mostar a 2 imagem -- removido do mobile
    .card.produto{
      .hidden{
        display: none !important;
      }
      //remover padding lateral do card-produto
      > .content{
        padding: 15px 0 !important;
      }
    }
    // Texto menor no mobile
    .card.produto > .content .info .dados{
      h3{
        font-weight: normal !important;
        font-size: 12px !important;
        min-height: 50px;
      }
      .preco{
        font-size: 18px;
        margin: 15px 0 4px 0;
      }
      .precoBase {
        font-size: 14px;
      }
      .parcelamento {
        font-size: 11px;
        width: 89%;
        margin: 0 auto;
      }
    }
    //botao adicionar mobile
    .card.produto > .content .info .btn-comprar-card{
      width: 135px;
      font-size: 17px !important;
      line-height: 35px !important;
      height: 37px !important;
      margin: 0px;
      text-align: left;
      max-width: 230px;
      position: relative !important;
      left: 50% !important;
      transform: translateX(-50%);
    }
    .card.produto > .content .info .btn-comprar-card:before {
      top:6px;
      left: 4px;
      width: 40px;
      height: 25px;
    }
    //tamanho da imagem mobile
    .ui.image.fluid{
      height: 135px;
    }
    .ui.card .content img{
      max-height: 125px !important;
    }
    //remover hover effect mobile
    .ui.card.produto:hover, .ui.card.produto:focus {
      box-shadow: none !important;
      border: none !important;
    }
    .card.produto:hover .content .ui.slide.masked.reveal.image > .visible.content{
      transform: none !important;
    }
    .card.produto:hover .content .ui.slide.masked.reveal.image > .hidden.content{
      transform: none !important;
      left: 0% !important;
    }
  }
}

.car-marcas{
  margin-bottom: 55px !important;
  &.slick-slider:not(.slick-dotted){
    margin-bottom: 55px !important;
  }
  .column{
    height: 157px;
    a{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    img{
      margin: 0 auto;
      max-width: 100%;
    }
  }
}
.marcas_home{
  margin-top: 60px;
  h2{
    font-size: 24px;
    font-weight: bold;
  }
  @media only screen and (max-width: 767px){
    h2{
      text-align: center;
    }
  }
}
.car-marcas{
  a.ui.basic.black.button.slick-arrow, .slick-arrow{
    top: 65px !important;
  }
}
.mais_vendidos{
  .text{
    top: -25px;
  }
  margin-top: 0;
  .slick-slider:not(.slick-dotted){
    margin-bottom: 0 !important;
  }
  .car-maisvendidos{
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
  &.topsellers .car-maisvendidos .slick-list{
    height: 470px;
  }
  //botao mais vendidos mobile
  @media only screen and (max-width: 767px){
    .card.produto > .content .info .botoes{
      bottom: -25px !important;
    }
  }
}


//NesLetter
.newsletter{
  padding: 40px 0;
  background-image: url('/assets/image/newsletter.png');
  background-position: left;
  h2{
    color: #FDFF9A;
    font-size: 22px;
    font-weight: bold;
  }
  .form{    
    margin-top: 30px;
  }
  input[type="text"]{
    background: transparent !important;
    border: none !important;
    border-bottom: 1px solid #fff !important;
    width: 70% !important;
    color: #fff !important;
    outline: none;
    &::placeholder{
      color: #fff;
    }
    &:focus{
      border: none;
    }
  }
  button{
    border-radius: 20px !important;
    font-size: 12px !important;
    font-weight: bold;
    background: #36CA5F !important;
    color: #fff !important;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif !important;
  }
  @media only screen and (max-width: 767px){
    h2{
      text-align: center;
    }
    input[type="text"]{
      width: 100% !important;
    }
    button{
      margin-top: 10px !important;
      float: right;
    }
  }
}

//Footer
.ui.vertical.segment.footer-01{ /*Footer color*/
  background: #f3f3f3 !important;
  padding: 20px 0;
}
.ui.vertical.segment.footer-02{
    border-bottom: none !important;
}
.footer{
  background: #f3f3f3 !important;
  .header{
    text-transform: lowercase;
  }
  .selos-rodape{
    text-align: left;
    float: left;
  }
  .sanders {
    position: relative;
    display: block;
    float: left;
    width: 116px;
    height: 40px;
    margin: 0 0 0 20px;
    background-position: -1px -96px;
    background-image: url(./../../assets/image/sanders.png);
    background-position: left !important;
    background-repeat: no-repeat;
  }
  .jet {
    position: relative;
    display: block;
    float: left;
    width: 80px;
    height: 40px;
    margin: 0 0 0 20px;
    background-position: -1px -96px;
    background-image: url(./../../assets/image/jet.png);
    background-position: left !important;
    background-repeat: no-repeat;
  }
  h4::first-letter { 
    text-transform: uppercase !important;
  }
  .horario{
    padding-left: 0px;
    &::before{
      display: none !important;
    }
  }
  .telefone{
    font-weight: 900!important;
    margin-top: 10px;
    &::before{
      background-image: url("./../../assets/image/support-footer.png") !important;
      background-position: center !important;
      background-repeat: no-repeat;
    }
  }
  .social-facebook, .social-instagram{
    margin: 0px !important;
    background: transparent;
    &:hover{
      background: transparent;
    }
  }
  .fa-facebook-f:before{
    content: '' !important;
    background-image: url("./../../assets/image/facebook-footer.png") !important;
    background-position: left !important;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
  }
  .fa-instagram:before{
    content: '' !important;
    background-image: url("./../../assets/image/instagram-footer.png") !important;
    background-position: left !important;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
  }
  .email{
    font-weight: normal !important;
    &::before{
      background-image: url("./../../assets/image/email-footer.png") !important;
      background-position: center !important;
      background-repeat: no-repeat;
    }
  }
  .horario{
    font-weight: normal !important;
  }
  @media only screen and (max-width: 919px){
    .list.link[style="display: none;"] {
      display: none !important;
    }
    .ui.horizontal.list.selos span.ebit{
      clear: none;
    }
    .ebit{
      margin-left: 20px !important;
    }
    .sanders{
      height: 50px;
    }
    .header{
      .ui.mobile.only{
        display: block !important;
      }
      i.icon.chevron.right:before{
        content: '-' !important;
        font-weight: bold;
      }
      i.icon.chevron.down:before{
        content: '+' !important;
        font-weight: bold;
      }
    }
    .custom-atendimento{
      text-align: center !important;
      h4{
        text-align: center;
      }
      ul{
        display: block !important;
        li{
          display: inline-block !important;
        }
      }
    }
    .telefone, .email{
      clear: both;
    }
  }
}
.footer-02{
  .header{
    font-weight: normal;
  }
  .clearsale{
    margin-left: 0px !important;
  }
  @media only screen and (max-width: 919px){
    .header{
      text-align: center;
    }
    .formas-pagamento, .selos{
      display: flex !important;
      justify-content: center;
    }
  }
}
.textoEmpresa{
  text-align: center !important;
  address{
    display: inline-block !important;
  }
}
.custom-desconto{
  z-index: 99 !important;
  width: 50px !important;
  b{
    padding: 3px 0 0 0 !important;
    height: 28px;
  }
  small{
    z-index: 999;
    top: 19px;
    width: 100%;
    left: -2px;
  }
  &:after{
    bottom: -25px;
    border-width: 25px 50px 0 0;
  }
}


//Resets
.page-produto .ui.stackable .breadcrumb.top{
  background: #fff !important;
}
.compre.junto {
  .ui.sticky.fixed, .ui.sticky.bound{
    position: initial !important;
  }
} 
.ui .row, .ui.row{
  margin: 0px !important;
}
div [class="row"], div [class="row visible-lg visible-md visible-xl"]{
  margin: 0 -15px !important;
}
.row{
  margin: 0px !important;
}
.row#buy-together .item.buy-together .extra button{
  font-size: 15px !important;
}


// Departamentos
.departamentos{
  &.filterColumn .filterBlock #filter #filtros .grouped.fields .field label{
    font-size: 13px;
    font-weight: 500;
    text-transform: lowercase;
    padding: 2px 0 2px 30px;
    &::first-letter{
      text-transform: uppercase;
    }
  }
  .filtros .checkbox{
    margin: 0px !important;
  }
  .ui.accordion .title ~ .content, .filtros .ui.accordion .title{
    background-color: #f8f8f8;
    border-bottom: 1px solid #B7B5B5;
  }
  .filtros .ui.accordion .title{
    background-color: #f8f8f8;
    font-weight: 600;
    color: #000;
    padding-bottom: 30px;
    &.active{
      padding-bottom: 8px;
    }
  }
  .ui.accordion .title {
    font-style: normal;
    font-size: 15px;
    .dropdown.icon{
      margin-right: 10px;
    }
    &.active{
      .dropdown.icon{
        transform: rotate(180deg);
        margin-top: 5px;
      }
    }
    .dropdown.icon:before{
      content: '';
      border: solid #B7B5B5;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      position: relative;
    }
  }
  .ui.three.cards {
    & > .card{
      width: calc( 100% - 2em);
      @media screen and (min-width: 768px){
        width: calc( 50% - 2em);
      }
      @media screen and (min-width: 991px){
        width: calc( 33.333333% - 2em);
      }
      @media screen and (min-width: 1200px){
        width: calc( 25.333333% - 2em);
      }
      &.produto > {
        .content .info .dados h3{
          font-weight: normal;
        }
        .content .info .btn-comprar-card{
          font-size: 12px !important;
          padding-left: 22px !important;
          &:before{
            position: absolute !important;
            background-image: url("/assets/image/shopping_cart-header.png") !important;
            left: 38px;
            @media screen and (min-width: 991px){
              left: 8px;
            }
            width: 23px !important;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }
      .installmentMaxNumber, .installmentMaxValue{
        font-weight: bold;
      }
      .installmentMaxValue{
        display: block;
      }
    }
  }
  .precoBase{
    color: #7d7d7d !important;
    text-decoration: none !important;
    font-size: 14px !important;
    i{
      text-decoration: line-through;
    }
    &::first-letter{
      text-transform: uppercase;
    }
  }
  .card.produto > .content .info .dados .preco{
    color: #DB3838 !important;
    font-size: 22px !important;
  }
  .ui.form .two.fields > .field{
    width: 45% !important;
    margin-top: 8px;
    margin-left: 5px;
  }
  .ui[class*="left icon"].input > i.icon{
    margin-top: 9px;
    position: absolute;
    left: 6px;
  }
  .ui.form .two.fields > .field .input input{
    padding-top: 9px;
    padding-bottom: 9px;
  }
  &.filterColumn .filterBlock #filter #filtros input[placeholder="Min"], &.filterColumn .filterBlock #filter #filtros input[placeholder="Max"]{
    background-color: #fff !important;
  }
  i.icon.check:before{
    font-family: "Barlow", "Helvetica Neue", Arial, Helvetica, sans-serif !important;
    content: 'Filtar' !important;
    position: absolute;
    left: 8px;
  }
  &.filterColumn .filterBlock #filter .ui.button.pricefilter{
    width: 50px !important;
    top: 12px;
    border-radius: 5px !important;
  }
  @media screen and (min-width: 1025px){
    .ui.cards > .ui.card.produto a.image {
      min-height: 185px;
    }
  }
  #filtros:before,#menu-lateral{
    display: none;
  }
  .paginacao-top{
    display: none;
  }
  &.page-category > .ui.grid .floated{
    background: #fff;
  }
  &.page-category > .ui.grid .floated .ui.basic.button.dropdownorder{
    float: right;
    .text{
      background: #fff;
      border: 1px solid #C1C1C1;
      color: #313131;
      width: 140px;
      text-transform: initial;
      @media screen and (min-width: 991px){
        &::before{
          content: 'Ordernar por:';
          display: block;
          position: absolute;
          left: -80px;
        }
      }
      &:after{
        filter: brightness(0.5);
      }
    }
    .menu{
      width: 140px;
      border: 1px solid #C1C1C1;
      background: #fff !important;
      .item{
        background: #fff;
        color: #313131 !important;
        text-transform: initial;
        &:hover{
          background: #f1f1f1 !important;
        }
      }
    }
  }
  i.icon.dollar:before{
    content: 'R$';
    
    font-family: "Barlow", "Helvetica Neue", Arial, Helvetica, sans-serif !important;
  }
  .ui.pagination.menu {
    float: inherit;
    a#nextPage{
      color: #B82D2D;
      background: #FFDBDB;
      padding: 5px 25px;
      &:after{
        content: 'Carregar mais produtos'
      }
    }
  }

}
.name-page{
  display: block;
  margin-bottom: 10px;
  h1{
    font-weight: bold;
    font-size: 30px !important;
  }
  @media screen and (max-width: 768px){
    margin-top: 10px;
  }
}
.breadcrumbs + div{
  @media screen and (max-width: 768px){
    .container:nth-child(2){
      margin: 0 !important;
      img{
        max-width: 300%;
        position: relative;
        left: -145%;
      }
    }
  }
}
.new_breadcrumbs{
  padding: 4px 0;
  .breadcrumb {
    background: #fff;
    &.text.small{
      padding: 0 !important;
      background: #fff;
      a, .active{
        text-decoration: none;
        font-size: 14px !important;
        text-transform: none;
        font-weight: normal !important;
        color: #9999 !important;
      }
    }
  }
}
.page-category{

}
@media screen and (max-width: 768px){
  .filterColumn.ativo{
    display: block !important;
  }
  #filtros{
    // display: block !important
  }
  #filtros{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 9999;
    background: #f8f8f8;
    &.ativo{
      padding: 0px !important;
    }
    .column{
      padding: 0 !important;
    }
  }
  #filtroList{
    width: calc(100% - 10px);
    overflow: hidden;
    padding-top: 40px;
    min-height: 100vh;
    background: #f8f8f8;
    > div{
      margin-right: 10px;
      margin-left: 20px;
    }
    > .title{
      padding: 20px 0 !important;
    }
    .pricefilter{
      position: relative !important;
    }
  }
  .departamentos.filterColumn .filterBlock #filter .ui.button.pricefilter{
    text-align: center !important;
    width: 100% !important;
  }
  .departamentos.filterColumn .filterBlock #filter .ui.button.pricefilter i.check{
    width: 100% !important;
    height: 35px !important;
  }
  .departamentos.filterColumn .filterBlock #filter .ui.button.pricefilter{
    height: 35px !important;
  }
  .departamentos.filterColumn .filterBlock #filter .two.fields.stackable{
    padding-right: 0 !important;
    .field{
      width: 49% !important;
      display: inline-block !important;
    }
  }
  .departamentos .ui.form .two.fields>.field .input input{
    padding-top: 14px !important;
    padding-bottom: 14px !important;
  }
  .departamentos .ui[class*="left icon"].input>i.icon{
    margin-top: 15px !important;
  }
  .departamentos i.icon.check {
    &:before{
      content: 'Filtar Produtos' !important;
      font-size: 14px !important;
      font-weight: bold !important;
      width: 100%;
    }
  }
  .departamento .ui.mobile.only.filterbutton {
    display: block !important;
  }
  .filterbar{
    display: none !important;
  }
  .departamentos.page-category .ui.mobile.only.filterbutton {
    display: block !important;
    float: right !important;
    width: 50%;
    height: 37px;
    font-size: 14px;
    padding-right: 0px !important;
    .filter.icon{
      left: 30px !important;
      content: '';
      background-image: url('../image/filter_icon.png');
      background-color: transparent;
      background-size: 18px;
      background-position: center;
      background-repeat: no-repeat;
      color: transparent;
    }
  }
  .departamentos .ui.form .grouped.fields .field{
    margin: 0.25em 0 !important;
  }
  .departamentos{
    // caregar mias centralizado
    .ui.pagination.menu{
      float: inherit !important;
    }
    //botao overflow
    .card.produto > .content .info .botoes{
      height: 37px;
      overflow: hidden;
    }
    // filter 
    &.page-category > .ui.grid .floated .ui.basic.button.dropdownorder .text{
      width: 44vw;
      border-radius: 5px;
      box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset;
      border: none;
    }
    &.page-category > .ui.grid .floated .ui.basic.button.dropdownorder .menu{
      width: 44vw;
    }
    // padding lateral mobile
    .ui.three.doubling.cards{
      padding: 0 8px;
    }
    // texto centralizado
    .name-page h1{
      text-align: center;
      margin-bottom: 20px !important;
    }
    .text{
      position: relative;
      h2, p{
        position: relative;
        text-align: center;
        width: 100%;
        left: 0;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
      }
    }
    .card.produto{
      margin: 0px !important;
      min-height: 390px;
      height: 390px;
    }
    // dividir os 4 produtos da home em 2
    .ui.three.cards > .card{
      width: 50%;
    }
    .card.produto{
      //tamenho do box mobile
      height: 400px;
      > .content{
        padding: 15px 0;
      }
    }
    //Mostar a 2 imagem -- removido do mobile
    .card.produto{
      .hidden{
        display: none !important;
      }
      //remover padding lateral do card-produto
      > .content{
        padding: 15px 0 !important;
      }
    }
    // Texto menor no mobile
    .card.produto > .content .info .dados{
      h3{
        font-weight: normal !important;
        font-size: 12px !important;
        min-height: 50px;
      }
      .preco{
        font-size: 18px;
        margin: 15px 0 4px 0;
      }
      .precoBase {
        font-size: 14px;
      }
      .parcelamento {
        font-size: 11px;
        width: 89%;
        margin: 0 auto;
      }
    }
    //botao adicionar mobile
    .ui.three.cards > .card.produto > .content .info .btn-comprar-card{
      width: 135px;
      font-size: 17px !important;
      line-height: 37px !important;
      height: 37px !important;
      margin: 0px;
      text-align: left;
      max-width: 230px;
      position: relative !important;
      left: 50% !important;
      transform: translateX(-50%);
      padding-left: 40px !important;
    }
    .ui.three.cards > .card.produto > .content .info .btn-comprar-card::before{
      top: 5px;
      left: 10px;
      height: 25px;
    }
    //tamanho da imagem mobile
    .ui.image.fluid{
      height: 135px;
    }
    .ui.card .content img{
      max-height: 125px !important;
    }
    //remover hover effect mobile
    .ui.card.produto:hover, .ui.card.produto:focus {
      box-shadow: none !important;
      border: none !important;
    }
    .card.produto:hover .content .ui.slide.masked.reveal.image > .visible.content{
      transform: none !important;
    }
    .card.produto:hover .content .ui.slide.masked.reveal.image > .hidden.content{
      transform: none !important;
      left: 0% !important;
    }
  }
}
