@import url('https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css');

//Home
a{
  color: #000;
  &:hover{
    color: initial;
  }
}
.ui.visible.right.sidebar ~ .pusher{
  transform: translate3d(0%, 0, 0)!important;
}
._header2{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    &.visible-mobile{
      display: block;
    }
    padding: 30px 0px 0px 0px;
    background: #DB3838;
    img{
      height: auto;
    }
    .ui.search > .results .result .imagem {
      width: 100px;
      max-width: 75px;
    }
    &-menu_hamburger, &-logo, &-selo, &-buttons {
      display: inline-block !important;
    }
    &-menu_hamburger{
      left: 15px;
      z-index: 99;
      position: relative;
      img{
        margin-top: 20px;
        filter: brightness(0) invert(1);
      }
    }
    &-logo{
      margin-top: 5px;
      img{
        width: 34vw;
        max-width: 130px;
        margin-left: 28px;
      }
    }
    &-selo{
      img{
        width: 18vw;
        max-width: 70px;
        margin-left: 5px;
      }
    }
    &-logo-selo{
      display: inline-block;
      position: relative;
      @media (width: 320px){
        left: 31%;
      }
      left: 35%;
      transform: translateX(-50%);
    }
    &-buttons{
      position: absolute;
      right: 15px;
      top: 55px;
      img{
        max-width: 23px;
      }
      .arrow{
        border: solid #fff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        position: relative;
        top: -3px;
        left: 5px;
      }
      .minha{ 
        &-conta, &-compra{
          display: inline-block;
          font-size: 0px;
        }
        &-conta{
          margin: 0px 6px 0px 6px;
          span:nth-child(3) {
            font-weight: bold;
            font-size: 13px;
          }
        }
        &-compra{
          font-weight: bold;
        }
      }
    }
    &.hidden-mobile{
      display: none;
    }
      &-search_mobile{
          margin-top: 12px;
    }
    i.icon.search:before{
      content: '';
      background-image: url(/assets/image/search-icon.png) !important;
      height: 30px;
      background-position: center !important;
      background-repeat: no-repeat !important;
      right: 10px;
      top: 5px;
      position: absolute;
    }
    @media (min-width: 991px){
      padding: 10px 0px 10px 0px;
      &.visible-mobile{
        display: none;
      }
      &.hidden-mobile{
        display: block;
      }
      &-televendas{
        margin-top: 15px;
        padding-left: 40px;
        span{
          color: #fff;
          display: block;
        }
        a{
          color: #fff;
          font-weight: 800;
          letter-spacing: 0.7px;
          &:hover{
            text-decoration: none;
          }
        }
        &::before{
          content: '';
          height: 45px;
          width: 45px;
          background-image: url(/assets/image/icon-televendas_mobile.png);
          filter: brightness(0) invert(1);
          background-position: center;
          background-repeat: no-repeat;
          display: block;
          position: absolute;
          left: 5px;
        }
      }
      &-logo{
        img{
          margin-left: 0px;
        }
      }
      &-selo{
        img{
          margin-left: 0px;
          position: relative;
          right: 30px;
        }
      }
      .searchcolumn{
        margin-top: 10px;
      }
      &-buttons{
        position: relative;
        top: 15px;
        right: 0;
        img{
          position: absolute;
          max-width: 35px;
          width: 35px;
        }
        span{
          color: #fff;
        }
        .minha{ 
          &-conta, &-compra{
            position: relative;
            display: inline-block;
            span{
              margin-left: 40px;
              font-size: 14px;
            }
          }
          &-conta{
            margin: 0px 6px 0px 6px;
            span{
              display: block;
            }
          }
          &-compra{
            margin-left: 15px;
            float: right;
            span{
              margin-left: 0;
              left: 45px;
              position: relative;
              top: 10px;
            }
          }
        }
      }
    }
}
._header2-menu{
  position: fixed;
  left: 0;
  right: 0;
  top: 89px;
  z-index: 999;
  background: #fff;
  .sub-menu{
    z-index: 9999;
    background: #fff;
    display: none;
    width: 440px;
    height: 290px;
    padding: 20px;
    -webkit-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 15px -5px rgba(0,0,0,0.3);
    & > a{
      position: absolute;
      top: 50px;
      left: 230px;
      img{
        max-width: 190px;
      }
    }
  }
  .last-item{
    a{
      color: #e60007;
      font-weight: bold;
    }
  }
  ul{
    padding: 0;
    list-style: none;
    margin-bottom: 0px !important;
    li{
      cursor: pointer;
      display: inline-block;
      padding: 0px 8px 0px 8px;
      line-height: 30px;
      &:nth-child(1){
        padding-left: 0;
      }
      &:hover{
        & > a{
          font-weight: bold;
          color: #e60007;
        }
        div{
          display: block;
          position: absolute;
          li{
            display: block;
            padding-left: 0;
          }
        }
      }
    }
  }
  a{
    color: #000;
    &:hover{
      text-decoration: none;
    }
  }
  .promotion{
    line-height: 20px;
    float: right;
    background: #28B6E3;
    padding: 2px 20px;
    border-radius: 28px;
    margin-top: 4px;
    margin-bottom: 4px;
    a{
      color: #fff;
      padding: 0px;
      margin: 0 auto;

    }
    &:hover{
      padding: 2px 18px;
    }
  }
  .all_categories{
    .arrow{
      border: solid black;
      border-width: 0 1.5px 1.5px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      float: right;
      position: relative;
      right: 20px;
      top: 15px;
    }
    padding-left: 12px !important;
    &::before{
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 5px;
      background-image: url(/assets/image/icon-menu_mobile.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    ul{
      display: none;
      li{
        display: none;
        &:nth-child(1){
          padding-left: 8px;
        }
      }
    }
    & > ul{
      z-index: 99;
      background: #fff;
      padding: 5px 0px 15px 21px;
      width: 280px;
      left: 0px;
      & > li{
        &:hover{
          .arrow{
            border-color: #DB3838;
          }
          & > ul{
            background: #f3f3f3 !important;
            display: block !important;
            position: absolute;
            z-index: 99;
            background: #fff;
            padding: 5px 0px 15px 10px;
            width: 280px;
            left: 270px;
            top: 0px;
            height: 100%;
            li{
              display: block !important;
            }
          }
        }
      }
    }
    &:hover{
      & > ul{
        position: absolute;
        display: block;
        & > li{
          display: block;
        }
      }
    }
  }
}
._header2-menu + div, ._header2-menu + section {
  margin-top: 120px !important;
  @media only screen and (max-width: 767px){
    margin-top: 135px !important;
  }
}
._header2-menu + .breadcrumbs {
  margin-top: 135px !important;
  @media only screen and (max-width: 767px){
    margin-top: 160px !important;
  }
}
.mobile-nav{
    &.actived{
        left: 0;
    }
    position: fixed;
    top:0;
    width: 85vw;
    height: 100vh;
    left: -100vw;
    border-right: 1px solid red;
    background: #fff;
    transition: 0.3s;
    z-index: 9999;
    ul{
        list-style: none;
        padding-left: 0px;
    }
    & > ul{
        margin-top: 60px;
        &.actived{
            margin-top: 24px;
            li, .sub-menu, .todos_departamentos-display{
                display: none;
                &.actived{
                    display: block;
                }
            }
            & > li.actived{
                display: none;
            }
            .sub-menu.actived{
                li{
                    display: block;
                }
            }
        }
        .sub-menu, .todos_departamentos-display{
            display: none;
        }
        .todos_departamentos{
            &-display{
                &_scroll{
                    height: 53vh;
                    overflow: auto;
                    &.actived{
                        & > ul{
                            display: none;
                            &.actived{
                                display:block
                            }
                        }
                    }
                }
                &.actived{
                    div{
                        ul{
                            li{
                                display: block;
                            }
                        }
                    }
                }
                &.opened{ 
                    margin-top: -7px;
                    .todos_departamentos-display_scroll{
                        overflow: hidden;
                        height: 70vh;
                        & > ul{
                            height: 70vh;	
                        }
                        .sub-menu ul{
                            overflow: auto;
                            height: 55vh;
                        }
                    }
                    & > p, & > .back-button, & > div > ul.actived li.actived{
                        display: none;
                    }
                }
            }
        }
    }
    .arrow{
        border: solid black;
        border-width: 0 1.5px 1.5px 0;
        display: inline-block;
        padding: 4px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        float: right;
        position: relative;
        right: 20px;
        top: 5px;
    }
    .back-button{
        padding-left: 20px;
        background: #C4C4C4;
        display: block;
        padding: 8px 30px;
        color: #141414;
        font-size: 16px;
        line-height: 18px;
        margin-bottom: 10px;
        .arrow{
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            float: left;
            right: initial;
            left: -5px;
            top: 4px;
        }
    }
    li{
        padding: 11px 0px 11px 20px;
        &.todos_departamentos{
            color: #e60007;
            font-weight: bold;
            .arrow{
                border-color: #e60007;
            }
        }
        &.last-item{
            font-weight: bold;
        }
    }
    p{
        margin-left: 65px;
        font-weight: bold;
        color: #e60007;
        font-size: 16px;
        margin-top: 4px;
    
        span{
            display: block;
            font-weight: normal;
            font-size: 12px;
            line-height: 12px;
        }
    }
    .menu-icon{
        position: absolute;
        top: 25px;
        left: 20px;
    }
    &--televendas{
        position: absolute;
        bottom: 0;
        padding: 30px 20px 25px 20px;
        display: flex;
        left: 0;
        right: 0;
        border: 1px solid #D0D0D0;
        a{
            margin-left: 10px;
            color: #e60007;
            font-size: 16px;
            font-weight: bold;
            span{
                font-weight: normal;
                display: block;
            }
        }
        img{
            width: 37px;
        }
    }
}
.blur{
    &.actived{
        display: block;
    }
    display: none;
    background: rgba(255, 255, 255, 0.6);
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    left: 0;
    z-index: 999;
}
.ui.container{
  padding: 0;
}
.full_banner_sanders{
  .slick-slider:not(.slick-dotted) {
    margin-bottom: 0px!important;
  }
  .textFullBanner{
    display: none;
  }
  @media only screen and (max-width: 767px){
    img.ui.image{
      width: 100%;
      max-width: 100%;
    }
  }
}
.infoBar.new_home{
  padding: 20px 0 !important;
  background: #fff;
  margin: 0;
  .row{
    margin-right: 0px; 
    margin-left: 0px; 
  }
  .infoBar-wrapper{
    width: 100%;
  }
  .column-01, .column-02, .column-03, .column-04{
      border: 2px solid #DB3838;
      border-radius: 50px;
      padding-left: 80px;
      width: calc( 25% - 15px ); 
      margin: 0 7.5px;
      h3, b{
          text-transform: none;
      }
      .icon_place{
        background-position: center;
        background-repeat: no-repeat;
        width: 55px;
        height: 35px;
        background-size: 28px;
        margin-left: 15px;

      }
      .text_place{
          padding-top: 5px;
          min-height:43px;
          h3{
              font-size: 15px;
              font-weight: normal;
          }
          b{
              color: #DB3838;
              font-size: 13px;
          }
      }
  }
  .column-01 {
    .icon_place{
      background-image: url(/assets/image/location.png);
    }
  }
  .column-02 {
    .icon_place{
      background-image: url(/assets/image/tag.png);
    }
  }
  .column-03 {
    .icon_place{
      background-image: url(/assets/image/laborers.png);
    }
  }
  .column-04{ 
    background: #DB3838;
    b,h3{
      color: #fff !important;
    }
    b{
      margin-top: 10px;
    }
    .icon_place{
      background-image: url(/assets/image/choices.png);
    }
  }
  .ui[class*="computer only"].grid.grid.grid:not(.mobile) {
    display: block !important;
  }
  .slick-slider:not(.slick-dotted) {
    margin-bottom: 0px !important;
  }
  @media only screen and (max-width: 767px){
    margin: 20px 0;
    .column-01, .column-02, .column-03, .column-04{
      margin: 0 30px;
    }
  }
}
.novidades_home, .departamentos_home{
  margin-top: 20px;
  h2{
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  p{
    margin-top: 7px;
  }
  img{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
  .slick-track{
    padding-bottom: 45px;
  }
  @media only screen and (max-width: 767px){
    .col-xs-12{
      padding: 0;
    }
    img{
      max-width: 450px;
    }
  }
}
.novidades_home{
  .visible-lg{
    margin-bottom: 15px;
  }
}
.departamentos_home{
  h2{
    margin-bottom: 10px;
  }
  img{
    margin-bottom: 15px;
  }
  .col-xs-6{
    padding: 0 7.5px;
  }
  .col-xs-12.col-md-6{
    margin: 0 7.5px;
    width: calc(50% - 15px);
    padding: 0;
  }
  .col-xs-12{
    width: 100%;
    padding: 0 7.5px;
  }
  .col-xs-2{
    background: #FFF5EC;
    margin: 0 7.5px;
    width: calc(16.66% - 15px);
    margin-bottom: 70px;
    padding: 0;
    border-radius: 10px;
    a{
      display: block;
      position: relative;
      margin: 20px auto;
      width: 100px;
      height: 100px;
      max-width: 100%;
    }
    p{
      background: #fff;
      a{
        text-decoration: none;
        padding-top: 5px;
        width: 100%;
        text-align: center;
        margin: 0px auto;
        height: auto;
        color: #000;
      }
    }
    img{
      position: absolute;
      top: 50%;
      transform: translatey(-50%);
      margin: 0 auto;
      max-width: 90%;
    }
  }
  @media only screen and (max-width: 767px){
    .col-xs-12.col-md-6, .col-xs-12{
      margin: 0;
      width: 100%;
      padding: 0;
    }
    img{
      margin-bottom: 7.5px;
    }
  }
}
.topsellers, .car-marcas{
  a.ui.basic.black.button.slick-arrow, .slick-arrow{
    background-position: center !important;
    background-repeat: no-repeat !important;
    &.slick-prev{
      background-image: url(./../../assets/image/arrow_slick-left.png) !important;
    }
    &.slick-next{
      background-image: url(./../../assets/image/arrow_slick-right.png) !important;
    }
  }
}
.topsellers.mais_vendidos, .featuredProducts .topsellers{
  margin-top: 80px;
  .slick-arrow{
    background-position: center !important;
    background-repeat: no-repeat !important;
    &.slick-prev{
      background-image: url(./../../assets/image/arrow_slick-left.png) !important;
    }
    &.slick-next{
      background-image: url(./../../assets/image/arrow_slick-right.png) !important;
    }
  }
  .row{
    margin-right: 0px;
    margin-left: 0px;
  }
  .ui.four.cards{
    margin: 0;
    padding: 0;
  }
  .text{
    position: relative;
    h2, p{
      width: 50%;
      display: inline-block;
    }
    h2{
      position: absolute;
      left: 20px;
      text-align: left;
      font-size: 24px;
      top: -15px;
      margin-bottom: 5px;
      color: #000;
      letter-spacing: initial;
      text-transform: none;
      font-weight: bold;
    }
    p{
      position: absolute;
      right: 20px;
      top: -15px;
      text-align: right;
      margin-top: 7px;
      font-size: 15px;
      color: #000;
      letter-spacing: initial;
      text-transform: none;
      font-weight: normal;
    }
  }
  .card.produto{
    margin: 15px !important;
    min-height: 455px;
  }
  .ui.card .content img{
    max-height: 160px !important;
    width: auto;
    margin: auto;
    display: block;
  }
  .ui.card .content .label img{
    max-width: 100%;
  }
  .ui.image.fluid{
    height: 160px;
  }
  .ui.slide.reveal > .hidden.content{
    width: auto !important;
  }
  .ui.slide.masked.reveal.image.fluid{
    display: flex !important;
  }
  .card.produto{
    .hidden{
      display: block !important;
    }
  }
  .card.produto > .content .info .btn-comprar-card{
    text-transform: initial !important;
    left: -5px;
  }
  .card.produto > .content .info .btn-comprar-card:before{
    background-image: url('/assets/image/shopping_cart-header.png');
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat;
    top: 9px;
  }
  .card.produto > .content .info .dados h3{
    font-weight: normal !important;
  }

  //Mostar a 2 imagem
  .card.produto:hover .content .ui.slide.masked.reveal.image > .visible.content{
    transform: translateX(-200%) !important;
  }
  .card.produto:hover .content .ui.slide.masked.reveal.image > .hidden.content{
    transform: translateX(-50%) !important;
    left: 50% !important;
  }
  .ui.slide.reveal > .hidden.content{
    -webkit-transform: translateX(200%) !important;
    transform: translateX(200%) !important;
  }

  @media only screen and (max-width: 767px){
    .text{
      position: relative;
      h2, p{
        position: relative;
        text-align: center;
        width: 100%;
        left: 0;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
      }
    }
    .card.produto{
      margin: 0px !important;
      min-height: 390px;
      height: 390px;
    }
    // dividir os 4 produtos da home em 2
    .ui.two.doubling.cards > .card{
      width: 50%;
    }
    .card.produto{
      //tamenho do box mobile
      height: 400px;
      > .content{
        padding: 15px 0;
      }
    }
    //Mostar a 2 imagem -- removido do mobile
    .card.produto{
      .hidden{
        display: none !important;
      }
      //remover padding lateral do card-produto
      > .content{
        padding: 15px 0 !important;
      }
    }
    // Texto menor no mobile
    .card.produto > .content .info .dados{
      h3{
        font-weight: normal !important;
        font-size: 12px !important;
        min-height: 50px;
      }
      .preco{
        font-size: 18px;
        margin: 15px 0 4px 0;
      }
      .precoBase {
        font-size: 14px;
      }
      .parcelamento {
        font-size: 11px;
        width: 89%;
        margin: 0 auto;
      }
    }
    //botao adicionar mobile
    .card.produto > .content .info .btn-comprar-card{
      width: 135px;
      font-size: 17px !important;
      line-height: 35px !important;
      height: 37px !important;
      margin: 0px;
      text-align: left;
      max-width: 230px;
      position: relative !important;
      left: 50% !important;
      transform: translateX(-50%);
    }
    .card.produto > .content .info .btn-comprar-card:before {
      top:6px;
      left: 4px;
      width: 40px;
      height: 25px;
    }
    //tamanho da imagem mobile
    .ui.image.fluid{
      height: 135px;
    }
    .ui.card .content img{
      max-height: 125px !important;
    }
    //remover hover effect mobile
    .ui.card.produto:hover, .ui.card.produto:focus {
      box-shadow: none !important;
      border: none !important;
    }
    .card.produto:hover .content .ui.slide.masked.reveal.image > .visible.content{
      transform: none !important;
    }
    .card.produto:hover .content .ui.slide.masked.reveal.image > .hidden.content{
      transform: none !important;
      left: 0% !important;
    }
  }
}

.car-marcas{
  margin-bottom: 55px !important;
  &.slick-slider:not(.slick-dotted){
    margin-bottom: 55px !important;
  }
  .column{
    height: 157px;
    a{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    img{
      margin: 0 auto;
      max-width: 100%;
    }
  }
}
.marcas_home{
  margin-top: 60px;
  h2{
    font-size: 24px;
    font-weight: bold;
  }
  @media only screen and (max-width: 767px){
    h2{
      text-align: center;
    }
  }
}
.car-marcas{
  a.ui.basic.black.button.slick-arrow, .slick-arrow{
    top: 65px !important;
  }
}
.mais_vendidos{
  .text{
    top: -25px;
  }
  margin-top: 0;
  .slick-slider:not(.slick-dotted){
    margin-bottom: 0 !important;
  }
  .car-maisvendidos{
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
  &.topsellers .car-maisvendidos .slick-list{
    height: 470px;
  }
  //botao mais vendidos mobile
  @media only screen and (max-width: 767px){
    .card.produto > .content .info .botoes{
      bottom: -25px !important;
    }
  }
}
