﻿@model List<DomainCheckout.Entities.PaymentGateway>
<div class="descontos relaxed list display grid">
    @foreach (var gateway in Model)
    {
        foreach (var method in gateway.PaymentMethods)
        {
            foreach (var brand in method.PaymentBrands)
            {
                if (brand.Discount > 0)
                {
                    if (brand.typeDiscount == DomainCheckout.Entities.typeDiscount.FirstInstalment)
                    {
                        <div class="item">
                            <div class="content">
                                <p class="ui header text small floated left">
                                    <span class="text color" style="font-size:14px">
                                        No @brand.NamePayment (@brand.Discount% de desconto)
                                    </span>
                                </p>
                                <p class="ui text small color floated right description">
                                    <span class="text color red bold" style="font-size:14px;">@($"{(brand.Installments.Any() ? brand.Installments.FirstOrDefault().Total : 0):c}")</span>
                                </p>
                            </div>
                        </div>
                    }
                    else
                    {
                        if (brand.Installments.Count() > 0)
                        {
                            <div class="item">
                                <div class="content">
                                    <p class="ui header text small floated left">
                                        <span class="text color" style="font-size:14px">
                                            No @brand.NamePayment (@brand.Discount% de desconto)
                                        </span>
                                    </p>
                                    <p class="ui text small color floated right description">
                                        <span class="text color red bold" style="font-size:14px">@string.Format("{0}", brand.Installments != null && brand.Installments.Count() > 0 ? brand.Installments.FirstOrDefault().Total.ToString("C") : "0")</span>
                                    </p>
                                </div>
                            </div>
                        }
                        else
                        {
                            decimal _exibeDescontoBoleto = 0;
                            if (ViewBag.TotalCarrinho != null)
                            {
                                _exibeDescontoBoleto = ViewBag.TotalCarrinho - (ViewBag.TotalCarrinho * brand.Discount) / 100;
                            }
                            <div class="item">
                                <div class="content">
                                    <p class="ui header text small floated left">
                                        <span class="text color" style="font-size:14px">
                                            No @brand.NamePayment (@brand.Discount% de desconto)
                                        </span>
                                    </p>
                                    <p class="ui text small color floated right description">
                                        <span class="text color red bold" style="font-size:14px">@string.Format("{0}", _exibeDescontoBoleto.ToString("C"))</span>
                                    </p>
                                </div>
                            </div>
                        }
                    }
                }
            }
        }
    }
</div>