/* Breadbrumbs */
.breadcrumbs {
	h1 {
		margin: 0;
		font-size: 1.5em;
	}
}

.ui.breadcrumb {
	text-transform: uppercase;
	color:#979797;
	font-size:13px;
	padding: 0;
	a {
		color:#666666;
	}
	
	li {
		display: inline-block;
	}
	.divider {
		color:#979797;
	}
}