.ui.cards {
  padding-bottom:25px;
}
.ui.cards > .card {
  border-radius: 0 !important; 
  box-sizing:border-box;
  padding:3px;
  margin:10px !important;
  width:calc(25% - 20px);
  border:solid 1px #dedede;
  
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

  > .content {
    border-top:none !important;
  }
}

.ui.card  {
  margin: 0 !important;
  &:last-child {
    border-radius: 0 !important;
  }
  
  &.produto {
    &:hover,
    &:focus {
      box-shadow: 0 0 12px 6px #ddd !important;
      z-index:1;
    }
  }
  
  > .content{
  border-top:none !important;
  }
}
