.ui {
  
  &.selection.dropdown {
    min-width: 100% !important;
    border-radius:0;
    border-color:#dfdfdf;
    background-color:#dfdfdf;
    	.text {
    		font-weight:600;
    	}
    	> .dropdown.icon {
    		display:block;
    		width:14px;
    		height:7px;
    		padding:0;
    		margin:6px;
			background-image:url('./../../assets/image/sprite.png');
			background-position: -227px -82px;
    	}
    	> .dropdown.icon:before {
    		content:"";
    		display:none;
    	}
    	.scrolling.menu {
		    border-radius:0;
		    background-color:#dfdfdf;
		}
    }
  
  &.selection.active.dropdown .menu {
    	border-color:#dfdfdf;
	}  
  }