.ui {
  
  &.filterListEventsProducts {
    .prompt {}    
  }

  &.search{
    .prompt {
      border-radius: 0;
      background: #ebebeb;
      height:50px;
      font-size: 13px;
      color: #ababab;
    }

    > .results{

      @media screen and (max-width: $tablet-bp-max) and (min-width: $table-bp-min){
        left: 50%;
        margin-left: -19.75em;
      }

      @media screen and (max-width: $mobile-bp) {
        top: 35px !important;
        width: 100% !important;
      }


      .result {        
        padding: 6px !important;

        .imagem + .content {
          margin: 0em 0em 0em 1em;
        }

        .imagem,
        .contents{
          display: flex;
          align-items: center;
        }

        .imagem {
          float: left;
          overflow: hidden;
          background: none;
          width: 150px;
          border-radius: 0;

          @media screen and (max-width: $mobile-bp) {
            max-width: 17%;
          }

          img {
            display: block;
            max-width: 6rem;
            @media screen and (max-width: $mobile-bp) {
              max-width: 100%;
            }
          }
        }

        .title {
          margin: -0.14285714em 0em 0em;
          font-family: $font-family;
          font-weight: bold;
          font-size: 13px;
          color: #000;
          text-transform:uppercase;
        }
      }
    }
  }

  &.category {

    &.search {

      .results {
        width: 100% !important;
        z-index: 9;
      }
    }
  }
}