.ui.secondary.pointing.menu {
	border: 0 !important;
}
.ui.secondary.pointing.menu .item {
	font-size:22px;
	font-weight:900;
	color:#b8b8b8;
	border: 0 !important;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	i{
		margin:0 10px;
	}
	&.active,
	&:hover {
		font-weight:900;
		color:#e60007 !important;
		border: 0 !important;
	  	@media only screen and(max-width: $mobile-bp) {}
	}
}
.ui.secondary.pointing.menu a.item[data-tab="avaliacoes"] {
	display:none;
}
.ui.attached.tab.basic {
	font-size:15px;
	line-height:20px;
	color:#929292;
}