@{
    ViewBag.Title = string.IsNullOrEmpty(LojaCorp.Control.Company._Company.Title) ? LojaCorp.Control.Company._Company.NameStore : LojaCorp.Control.Company._Company.Title;
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}


<!-- ~/Views/Shared/Blocks/Banner/_FullBanner.cshtml -->
@Html.Action("FullBanner", "Banner")

<!-- ~/Views/Shared/Blocks/_InfoBar.cshtml -->
@Html.Partial("Blocks/_InfoBar")

<div class="featuredProducts">
    <!-- ~/Views/Shared/Blocks/Product/_FeaturedProducts.cshtml -->
    @Html.Action("FeaturedProducts", "Product")
</div>

<!-- ~/Views/Shared/Blocks/Group/_Groups.cshtml -->
@Html.Action("Group", "Group")



<div class="banners-home">
	<!-- ~/Views/Shared/Blocks/_CentralHalfBanner.cshtml -->
	@Html.Action("CentralHalfBanner", "Banner")
</div>

<!-- ~/Views/Shared/Blocks/_TopSellers.cshtml -->
@Html.Action("TopSellers", "Product")


<div class="destaques-home">
	<div class="ui container">
		<div class="legend"><strong>DESTAQUE</strong> CASA NOVA</div>
		<div class="content">

			<!-- ~/Views/Shared/Blocks/Banner/_FooterHalfBanner.cshtml -->
			@Html.Action("FooterHalfBanner", "Banner")
			
		</div>
	</div>
</div>




<!-- ~/Views/Shared/Blocks/Brand/_Brands.cshtml -->
@Html.Action("Brand", "Product")
