@{
    ViewBag.Title = string.IsNullOrEmpty(LojaCorp.Control.Company._Company.Title) ? LojaCorp.Control.Company._Company.NameStore : LojaCorp.Control.Company._Company.Title;
    Layout = "~/Views/Shared/Base/_Layout_v2.cshtml";
}

<!-- ~/Views/Shared/Blocks/Banner/_FullBanner.cshtml -->
<div class="full_banner_sanders">
    @Html.Action("FullBanner", "Banner")
</div>
<!-- ~/Views/Home/Partials/_InfoBar2.cshtml -->
@Html.Partial("partials/_InfoBar2")

<!-- ~/Views/Home/Partials/_InfoBar2.cshtml -->
@Html.Partial("partials/_novidades")

<div class="featuredProducts">
    <!-- ~/Views/Shared/Blocks/Product/_FeaturedProducts.cshtml -->
    @Html.Action("FeaturedProducts", "Product")
</div>

<!-- ~/Views/Home/Partials/_departamentos.cshtml -->
@Html.Partial("partials/_departamentos")

<!-- ~/Views/Shared/Blocks/Brand/_Brands.cshtml -->
<div class="marcas_home">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Navegue pelas marcas</h2>
            </div>
        </div>
    </div>
</div>
@Html.Action("Brand", "Product")

<!-- ~/Views/Shared/Blocks/_TopSellers.cshtml -->
@Html.Action("TopSellers", "Product")

