.card.produto {
    box-shadow: none !important;

    >.content {
        position: relative;
        z-index: 4;
        border-top:0px !important;
        padding:15px 15px 75px 15px !important;

        .info {
            height: auto;
            text-align: center;
            transition-duration: 0.3s;
            z-index: 4;

            .dados {
                padding: 10px 0;

                a:focus {
                    text-decoration: underline;
                }

                h3 {
                    font-weight: normal;
                    color: $black;
                    font-size: 15px;
                    margin:0;
                    font-weight:600;
                    min-height:76px;
                    text-transform:uppercase;
                }

                .precoBase {
                    display:block;
                    color: #666666;
                    font-size: 16px;
                    text-decoration: line-through;

                    i {
                        font-style:normal;
                    }
                }

                .preco {
                    clear:both;
                    display:inline-block;
                    color: $primary-color;
                    font-size: 26px;
                    line-height: 30px;
                    font-weight: 900;
                    padding:4px 12px;
                    margin:4px 0;
                    background-color: #f1f100;

                    &:after {
                        content: '\A';
                        white-space: pre;
                    }
                }
                
                .parcelamento {
                    display:block;
                    color: #666666;
                    font-size: 14px;
                }
            }

            .botoes {
                display:block;
                clear:both;
                width: 100%;
                
                .btnComprar {
                    @media screen and (min-width: $desktop-bp-min) {
                        display: none;
                    }
                }
                
                
                

                .btnDetalhes {
                    display:none;
                    background:#eee;
                    color: #666;

                    &:hover,
                    &:focus,
                    &:checked,
                    &:active{
                        background:#eee;
                        color: #666;
                        opacity: .9;
                    }

                }

                button.ui.circular {
                    @media screen and (max-width: $mobile-bp) {
                        padding: .58571429em !important;
                        margin-top: 3px;
                    }
                }

                button.ui.basic.primary {
                    @media screen and (max-width: $mobile-bp) {
                        padding: .78571429em 0.8em !important;
                    }
                }
            }

            .sku-options {
                
                color: #ffffff;
                display: none !important;
                text-align: left;
                bottom: 100%;
                transition-duration: .3s;
                width: 100%;
                z-index: 10 !important;
                
                &.mask {
                    background: rgba(255, 255, 255, .5);
                }
            }
            .btn-comprar-card {
                position:absolute !important;
                bottom: 0 !important;
                left:0 !important;
                color:#212121 !important;
                font-size:18px !important;
                box-sizing:border-box;
                padding:0 !important;
                z-index: 10 !important;
                width:calc(100% - 30px);
                margin: 0 15px 15px 15px;
                height:55px !important;
                line-height:55px !important;  
                background:#f1f100 !important;
                box-shadow:initial !important;
                font-weight:600;
                &:before {
                    content:"";
                    position:relative;
                    top:7px;
                    display:inline-block;
                    width:27px;
                    height:25px;
                    background-position:-142px -3px;
                    background-image:url('./../../assets/image/sprite.png');
                }
                i.icon {
                    display:none !important;
                }
            }
        }
    }

    &:hover,
    &:focus {
        box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5 !important;

        .content {

            .ui.slide.masked.reveal.image > .visible.content {
                transform: translateX(-100%) !important;
            }

            .ui.slide.masked.reveal.image > .hidden.content {
                transform: translateX(0) !important;
            }
        }

        .info {

            @media screen and (min-width: $desktop-bp-min) {
                /* transform: translateY(-40px); */
            }


            .botoes {
                opacity: 1;

            }
        }
    }

            a.ui.icon.button.btnComprar {
                color:#212121 !important;
                font-size:18px;
                box-sizing:border-box;
                padding:0 !important;
                margin: 0 !important;
                z-index: 10 !important;
                width:100%;
                height:45px !important;
                line-height:45px !important;  
                background:#f1f100 !important;
                box-shadow:initial !important;
                    i.icon {
                        display:none !important;
                    }
                }

}

.sku-options {

    .dropdown {

        .scrolling.menu {
            max-height: 7.8rem !important;
        }
    }
}

.ui.three.doubling.cards > .card,
.ui.four.doubling.cards > .card,
.ui.five.doubling.cards > .card,
.ui.six.doubling.cards > .card {
    @media screen and (max-width: $mobile-bp) {
        width: calc( 100% - 2em);
        margin-left: 1em;
        margin-right: 1em;
    }
}