h1.nomeProduto {
	font-weight: bold;
	margin-bottom: 0.5rem;
	font-size: 20px;
	color: $black;
}

h6.codProduto {
	color: #888888;
	margin: 0px !important;
  }

  .infoProduto {


	  #dica_compra_partial {
		  margin-top: 15px;

		  @media screen and (max-width: $mobile-bp){
			  margin:0 auto;
			  display: table;
		  }
	  }
	  

	.marcaProduto {
		color:#666;
		font-size: 14px;
	}

	.avaliacoes {
		color:#666;		
		display: table;
		
		&:hover {
			cursor: pointer;
		}
	}

	.blocoInfo {
		@media screen and (max-width: $mobile-bp){
			padding: 0;
		}

		.linkRating {
			color:#666666;
			font-size:12px;
		}
		
		.blocoValores {
			border-bottom: 5px solid #ddd;
			
			>.column {
				@media screen and (max-width: $mobile-bp){
					text-align: center;
				}
			}
			
	.row {
	  padding: 0.25rem 0 !important;
	}

			.blocoQtd {
				display:none;
				@media screen and (max-width: $mobile-bp){
					text-align: center;
				}
			}
			
			.blocoPreco {

				@media screen and (max-width: $mobile-bp){
					text-align: center !important;
				}


	.precoAntigo {
		clear: both;
		color: #000;
		font-size: 14px;
	 	line-height: 18px;
	 	text-transform:uppercase;
	 	text-decoration:line-through;

	  &:after {
		content: '\A';
		white-space: pre;
	  }
	}

	.preco {
		clear: both;
		color: #e60007;
		font-size: 26px;
		line-height: 30px;
		font-weight:900;

	  &:after {
		content: '\A';
		white-space: pre;
	  }
	}

				.disponibilidade {
					margin: 5px 0 10px 0;
					color:#666666;
					font-size: 12px;

					@media screen and (max-width: $mobile-bp){
						text-align: center !important;
					}
				}

	.infoPreco {
		clear: both;
		color: #212121;
		font-size: 15px;
		line-height: 18px;
		font-weight:600;
		#description {
			text-transform:lowercase;
		}

	  &:after {
		content: '\A';
		white-space: pre;
	  }

	  .descontoBoleto {
		color: $ascent-1-color;
		font-weight: 700;
	  }
	}
  }

			.btnComprar {
				@media screen and (max-width: $mobile-bp){
					text-align: center !important;
				}
				
				margin: 20px 0 10px !important;
				
				.btn-comprar-oneclick {
					margin-top: 20px;
					font-size: .92857143rem;
					font-weight: normal;
				}
				

			}
		}	
		
	}


}

  .product-button {
	position: absolute;
	right: 10px;
	top: 10px;

	a {
	  display: block !important;
	  margin-bottom: 10px !important;
	}
  }

  .product-tags {
	bottom: 10px;
	left: 10px;
	position: absolute;
	width: 70%;

	.tag {
	  margin-left: 1.5em !important;
	}
  }

.border.bottom.grey:not(.inverted) {
	border-bottom: 5px solid #DDDDDD;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0 !important;
	border-top: 1px solid #d4d4d5!important;
}

.ui.segment.grey.formas-pagamento {

	border-bottom: 5px solid #DDDDDD;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0 !important;
	border-top: 1px solid #d4d4d5!important;

	.accordion {
		.title {
			color:#666666;
			text-transform: uppercase;
			font-size:12px;
		}

	  .ui.list {
		padding-left: 2.2em;
	  }
	}
  }


  .ui.grid.segment {
	padding: 10px 0px !important;
  }

  .ui.segment {

	&.yellow,
	&.grey {

	  .ui.form .fields {
		margin: 0px !important;
	  }
	}
  }

  .ui.ribbon {
	z-index: 5;
  }

  .produtos.compre.junto {
	> .item {

	  .content {
	  }

	  .extra {
		width: auto !important;
	  }
	}
  }

  .variacao {

	&.cor {
	  height: 35px;
	  width: 35px;
	}
	&.selecionado {
	  box-shadow: 0 0 0 3px rgba(0, 0, 0, .20) !important;
	}
  } 

  .product {

	&.information {

	  .marcaProduto {
		margin: 0px !important;
	  }

	  &.row {
		padding-bottom: .1rem !important;
	  }

	  h1 {
	  	margin:0;
	  	font-weight:800;
	  	color:#212121;
	  	font-size: 20px;
	  }

	  .column {
		padding-bottom: .3rem !important;
		padding-top: 0.3rem !important;
	  }
	}
  }

  .produto {

	&.detalhes {

	  &.row {
		padding-top: 0px !important;
	  }
	}
  }




#pagamento-calculado {
	margin-top:10px;
	margin-bottom: 20px;

	.formas-pagamento {
		border-bottom: 5px solid #ddd;
		box-shadow: none !important;
		border-radius: 0!important;
		border-top: 1px solid #d4d4d5 !important;
		.title {
			display:none;
		}
	}
	}

.fb-share-button {
	display: block;
	float:left;
	margin-right: 3px;
}


.menu.tabular {
	.item {
		color:#999 !important;
		text-transform: uppercase;

		&.active {
			color:$black !important;
		}
	}
}

.product-b2b {
	.preco {
		font-size: 20px !important;
		line-height: 20px !important;
	}
	.precoAntigo i {
		text-decoration: line-through;
	}
	.ui.form .field > .button {
		margin-bottom: 0px;
	}
}

#buy-together {

	.row {
		&.horizontal {
			&.divided {
				background: #fff;
			}
		}
	}

	a {
		font-weight: bold;
		font-size: 14px;
		color:#666666;
		&.action.buy-together {
			width:240px !important;
			height: 55px !important;
			padding:0 !important;
			margin:0 auto !important;
			box-shadow:none !important;
			text-indent:-9999em !important;
			background-image:url('./../../assets/image/buttons.png');
			background-position:-2px -424px;
			i {
				display:none;
			}
		}
	}
	
	.ui.attached.segment {
		border: 0;
		padding-right: 0;
		padding-left: 0;
	}

	.ui.table {
		border: 1px solid #eee;
		color: #000;
		border-radius: 0 !important;
		background-color: #e6e6e6;
		text-align:center;
		text-transform:uppercase;
		font-weight:600;
		width: 90%;
		margin:0 5% 10px;
		strong {
			color:#000;
		}
		thead th {
			color: #e60007;
			background-color: #e6e6e6;
			font-size: 14px;
			font-weight: 900;
			text-transform:uppercase;
			border-radius: 0 !important;
			border-bottom:0;
		}
		tbody {
			tr {
				display:grid;
				padding:0 10px;
				td {
					border-top:2px solid #fff;
				}
			}
		}
	}

	#btn_comprejunto {
		i {
			opacity: 1 !important;
		}
	}

}



#AlsoProducts {
	margin-top:60px;
	>.ui {
		&.container {
			@media screen and (max-width: $mobile-bp){
				margin:25px auto 0 auto !important;
			}
		}
	}

}

#RelatedProducts{
	>.ui {
		&.container {
			@media screen and (max-width: $mobile-bp){
				margin:25px auto 0 auto !important;
			}
		}
	}

}




.ui.items:not(.unstackable) > .item > .image > a > img {
	@media screen and (max-width: $mobile-bp) {
		max-width: 100% !important;
		width: auto !important;
		max-height: 250px !important;
	}
}

.ui.list > div > .item {
	display: list-item;
	table-layout: fixed;
	list-style-type: none;
	list-style-position: outside;
	padding: 0.21428571em 0em;
	line-height: 1.14285714em;
}