.infoBar {
	text-transform: uppercase;
	margin-bottom: 50px;
	background:#ebebeb;
	padding:10px 0;
	.infoBar-wrapper {
		width: 950px;
		height:55px;
		margin:0 auto;
		font-weight: 800;
		white-space: nowrap;
		text-align:left;
	}
	h3 {
		display: block;
		color:#212121;
		font-size: 14px;
		margin:0;
	}
	b {
		display: block;
		color:$primary-color;
		font-size: 14px;
	}
	.column-01 {
		position:relative;
		padding: 0 0 0 50px;
		width:22%;
		float: left;
		box-sizing:border-box;
	}
	.column-02 {
		position:relative;
		padding: 0 0 0 60px;
		width:26%;
		float: left;
		box-sizing:border-box;
	}
	.column-03 {
		position:relative;
		padding: 0 0 0 66px;
		width:31%;
		float: left;
		box-sizing:border-box;
	}
	.column-04 {
		position:relative;
		padding: 0 0 0 62px;
		width:21%;
		float: left;
		box-sizing:border-box;
	}
	.icon_place {
		position:absolute;
		left:0;
		top:4px;
		display:block;
		float:left;
		height:50px;
       	background-image:url('./../../assets/image/sprite.png');
	}
	.column-01 {
		.icon_place {
			width: 38px;
			background-position:0 -38px;
		}
	}
	.column-02 {
		.icon_place {
			width: 50px;
			background-position:-43px -38px;
		}
	}
	.column-03 {
		.icon_place {
			width: 60px;
			height:51px;
			background-position:-99px -38px;
		}
	}
	.column-04 {
		.icon_place {
			width: 58px;
			background-position:-165px -38px;
		}
	}
	.text_place {
	  	float: left;
	  	width: calc(100% - 80px);
	  	padding:10px 0 0 0;
		font-size: 12px;
		color:#666;
		line-height: initial;
	}

	.row {
	  padding: 0px !important;
	}

	.ui.grid {
	  margin: 0px !important;
	}

  }
