.topsellers {
	margin-top: 30px;

	.divider {
		display:block !important;
		text-align:center !important;
		&:before,
		&:after {
			display:none !important;
		}
	}

	h3 {
		font-size:38px;
		font-weight:900;
		text-align:center;
	}
  }