.footer-01 {
	padding-bottom:30px !important;
}
.footer-02 {}
.custom-atendimento {
	ul {
		list-style:none;
		padding:0;
		li {
			position:relative;
			font-size:14px;
			color:#212121;
			line-height:20px;
			padding:0 0 14px 30px;
			font-weight:bold;
			&.telefone {
				&:before {
					content:"";
					position:absolute;
					top:0;
					left:0;
					display:block;
					width:23px;
					height:24px;
					background-position:-224px 0;
            		background-image:url('./../../assets/image/sprite.png');
				}
			}
			&.email {
				&:before {
					content:"";
					position:absolute;
					top:3px;
					left:0;
					display:block;
					width:23px;
					height:17px;
					background-position:-224px -29px;
            		background-image:url('./../../assets/image/sprite.png');
				}
			}
			&.horario {
				&:before {
					content:"";
					position:absolute;
					top:-3px;
					left:0;
					display:block;
					width:23px;
					height:24px;
					background-position:-224px -51px;
            		background-image:url('./../../assets/image/sprite.png');
				}
			}
			&.formulario {}
		}
	}
}
.newsletter-bar {
	display:block;
	clear:both;
	background: #e60007;
	height:100px;
	position: relative;
	padding:0;

	.legend {
		display:block;
		float:left;
		width:50%;
		margin:7px 0 0 0;
	}
	h4.header {
		display: block;
		color: #fff;
		font-size: 46px;
		font-weight: 800;
		margin: 0;
		float: left;

		@media screen and (max-width: $mobile-bp) {
			border:0;
			padding-right: 0;
		}
	}
	span.text {
		display: block;
		color: #fff;
		font-size: 23px;
	}
	.content {
		position:relative;
		display:block;
		float:right;
		width:50%;
		margin:23px 0 0 0;
	}
	input#email_news {
		display: block;
		float:left;
		height:56px;
		padding:0 140px 0 20px;
		border-radius:0 !important;
	}
	button#btn_news {
		position: absolute;
		top:0;
		right:0;
		display: block;
		float:left;
		width: 130px;
	 	height: 56px;
	 	margin:0;
  		background-color: #f1f100;
		border-radius:0 !important;
		
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
		&:hover {
			background:#212121;
			color:#fff;
		}
	}


	.inline.fields {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;

		.field {
			@media screen and (max-width: $mobile-bp) {
				padding-right: 0 !important;
			}
		}

	}


	.inline {
		>.icon.input {
			@media screen and (max-width: $mobile-bp) {
				display:table;
			}
		}

		.textNews {
			@media screen and (min-width: $table-bp-min) and (max-width: $tablet-bp-max) {
				max-width: 180px;

			}

			@media screen and (max-width: $mobile-bp) {
				margin: 10px auto !important;
				padding:0 !important;
			}
		}

		#email_news {
			background: #fff;
			font-size: 12px;
			color: #666666;


			@media screen and (max-width: $mobile-bp) {
				max-width: 200px;

			}


		}

		i.mail.icon {
			color: $secondary-color;
			opacity: 1 !important;

			@media screen and (max-width: $mobile-bp) {
				top: 16px;
				height:initial;
			}
		}

		#btn_news {
			margin-left: 5px;
			color: #ffffff;
			text-transform: uppercase;
			background: lighten($secondary-color , 20);
			font-size: 13px;

			@media screen and (max-width: $mobile-bp) {
				width: 100%;
				margin:0 auto;
			}
		}


	}

}

.footer-wrap{
	position: absolute;
	bottom: 0px;
}

.footer {
	background-color: #fff;
	padding-bottom: 20px !important;

	> .ui.container {
		>.ui.grid {		
			> .column {}
		}
	}

	.listMobile {
		.column {
			@media screen and (max-width: $mobile-bp) {
				border-bottom:1px solid lighten($secondary-color, 10);
			}
		}

	}

	.header {
		color:#212121 !important;
		text-transform: uppercase;
		font-size: 18px !important;
		margin:0;
		@media screen and (max-width: $mobile-bp) {
			line-height: 30px;
		}

		i.icon:only-child {
			display:none;
			float:right !important;
			font-size: 1em;
		}
	}


	socialbar {
		margin-top: 10px;
		display: inline-block;
		a {
			display:block;
			float:left;
			width:50px;
			height:50px;
			margin:0 10px 0 0;
			border-radius:50px;
			color:#fff;
			font-size:26px;
			line-height:54px;
			text-align:center;
			background-color:#212121;

			-webkit-transition: all .3s ease;
			-moz-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
			&:hover {
				background-color:#e60007;
			}
			i {
				font-style:normal;
			}
		}
	}

	.list {
		&.link {
			a,
			h5 {
				color: #212121 !important;
				font-size: 16px;
				margin: 0;
				line-height: 20px;
				font-weight:500;

		        -webkit-transition: all .3s ease;
		        -moz-transition: all .3s ease;
		        -o-transition: all .3s ease;
		        transition: all .3s ease;

				&:hover,
				&:focus,
				&:checked,
				&:active {
					color: #e60007 !important;
				}
			}

			@media screen and (max-width: $mobile-bp) {
				padding: 1em;
				text-align: left !important;
				margin: 10px 0 0 0;
				display: none;
				background: lighten($secondary-color, 5);
			}
		}
		
		&.selos {			
			a ~ a {
				margin-left:10px;
			}
		}        
		&.selos a img {
		        height: 100px;
                display: inline-block;
                background-size: cover;
		}
		
	}

	p {
		color:#999999;
		font-size: 12px;
		font-weight: bold;
	}

	h4,
	h5{
		font-weight: bold;
		font-size: 16px;
		color:$white;
	}

	.tireDuvidas {
		background: #fff;
		h5 {
			color: $black;
			margin:0;
			font-size: 1rem;
		}

	}


	.ui.form  {


		> .inline {
			>.icon.input {
				@media screen and (max-width: $mobile-bp) {
					display:table;
				}

				.mail {
					color:$black;
					opacity: 1 !important;

					@media screen and (max-width: $mobile-bp) {
						top: 22px;
						height:initial;
					}
				}

				#email_news {
					@media screen and (max-width: $mobile-bp) {
						width: 100%;
					}
				}

				#btn_news {
					margin-left: 5px;
					color: #000;
					text-transform: uppercase;
					background: #fff;

					@media screen and (max-width: $mobile-bp) {
						width: 100%;
						margin:5px auto 0 auto;
					}

				}
			}
		}
	}



}

.subFooter {

	padding:10px 0;

	@media screen and (max-width: $mobile-bp) {
		text-align: center;
	}

	.menu_subfooter {
		margin-bottom: 1em;

		a.submenu {
			padding: .42857143em 0.84285714em;
			color: white;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.textoEmpresa {
		text-align: left;
			color:#999;
			font-size:12px;
			font-weight: normal;
			font-style: normal;
			display: inline-block;
		}

	.ui.tiny.images {
		@media screen and (max-width: $mobile-bp) {
			text-align: center;
		}
	}


}

.jetBrand{
	height: 35px;
	text-align: center;
	padding: 0px !important;
	background: black !important;

	img{
		height: 25px;
		margin:5px;
	}
}
#seloEbit{
	display: inline-block !important;
	width:84px;
	@media screen and (max-width: $mobile-bp) {
		float:none;
		margin: 0;
		width: auto;
	}

}
#jetLogo {
	height: 57px;

	.st0 {
		fill: rgba(255, 255, 255, 1);

	}

	.st1 {
		fill: rgba(255,0, 0, 1);
	}
}