﻿@model DomainProduct.Settings
@{
  Model.PageSize = 28;
}
<div class="ui pagination menu">
    <a id="nextPage" class="@(Model.HasNextPage ? "" : "disabled") item" data-number="@(@Model.PageNumber + 1)">
        <i class="angle right icon"></i>
    </a>
</div>

