@model IList<DomainCompany.Entities.Banner>
    @if (Model != null && Model.Count() > 0)
    {
        <script>
            jQuery(document).ready(function ($) {
                $('.car-banners').slick({
                    infinite: true,
                    autoplay: true,
                    autoplaySpeed: 2000,
                    slidesToScroll: 1,
                    arrows: false,
                    dots: true,
                    accessibility: false,
                    slidesToShow: 1
                });
            });
        </script>
        
        <div class="car-banners">
            @{
                List<DomainCompany.Entities.Banner> bannerRandom = Model.Where(b => b.Random == true).ToList();
                    List<DomainCompany.Entities.Banner> bannerNoRandom = Model.Where(b => b.Random == false).ToList();
                        
                        foreach (var randombanner in bannerNoRandom)
                        {
                            <a href="@randombanner.Link" title="@randombanner.Name">
                                <img src="/assets/image/img_default.png" data-src="@randombanner.NameFileImage" class="ui fluid image" alt="@randombanner.Name" title="@randombanner.Name" onerror="imgError(this)" />
                            </a>
                        }
                    }
                </div>
                <div class="ui images  middle aligned center aligned">
                    @foreach (var banner in bannerRandom)
                    {
                        <a href="@banner.Link" title="@banner.Name"><img src="/assets/image/img_default.png" data-src="@banner.NameFileImage" class="ui image" alt="@banner.Name" title="@banner.Name" onerror="imgError(this)" /></a>
                    }
                </div>
            }