@model IList<DomainCompany.Entities.Banner>
    @if (Model != null && Model.Count() > 0)
    {
        
        List<DomainCompany.Entities.Banner> bannerRandom = Model.Where(b => b.Random == true).ToList();
            List<DomainCompany.Entities.Banner> bannerNoRandom = Model.Where(b => b.Random == false).ToList();
                
                if (bannerRandom.Any())
                {
                    
                    
                    <div class="ui container car-banners no-margin slick-dotted slideshow" data-qtd="1" data-auto="true" data-arrow="false" data-dots="true">
                        <div class="header-fullbanners">
                            @foreach (var randombanner in bannerRandom)
                            {
                                
                                <a href="@randombanner.Link" title="@randombanner.Name">
                                    <img src="/assets/image/img_default.png" data-src="@randombanner.NameFileImage" class="ui fluid image" alt="@randombanner.Name" title="@randombanner.Name" onerror="imgError(this)"/>
                                </a>
                            }
                        </div>
                    </div>
                }
                if (bannerNoRandom.Any())
                {
                    
                    <div class="ui container">
                        <div class="header-fullbanners">
                            @foreach (var banner in bannerNoRandom)
                            {
                                <a href="@banner.Link" title="@banner.Name">
                                    <img src="/assets/image/img_default.png" data-src="@banner.NameFileImage" class="ui image" alt="@banner.Name" title="@banner.Name" onerror="imgError(this)"/>
                                </a>
                            }
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="ui divider container"></div>
            }
