﻿@model IList<DomainCompany.Entities.Banner>
@if (Model != null && Model.Any())
{
<div class="ui container">
    <div class="ui four images middle aligned center aligned">
        
            @foreach (var banner in Model)
            {
                <a href="@banner.Link" class="banner-home-item" title="@banner.Name">
                    <img src="@banner.NameFileImage" data-src="@banner.NameFileImage" alt="@banner.Name" title="@banner.Name" class="margin none ui image">
                </a>
            }
        
    </div>
</div>
}