@model IList<DomainCompany.Entities.Banner>
    @if (Model != null && Model.Count() > 0)
    {
        
        
        List<DomainCompany.Entities.Banner> bannerRandom = Model.Where(b => b.Random == true).ToList();
            List<DomainCompany.Entities.Banner> bannerNoRandom = Model.Where(b => b.Random == false).ToList();

                if (bannerRandom.Any())
                {
                    
                    <div class="ui fluid container car-banners no-margin slick-dotted slideshow" data-qtd="1" data-auto="true" data-arrow="false" data-dots="true">
                        <div class="header-fullbanners">
                            @foreach (var randombanner in bannerRandom)
                            {
                                if (Request.Browser.IsMobileDevice) {
                                <!-- HTML here for mobile device -->
                                    if (@randombanner.Name.Contains("mobile")){
                                        <div class="fullBannerWithText">
                                            <div class="linkFullBanner">
                                                <a href="@randombanner.Link" title="@randombanner.Name">
                                                    <img src="/assets/image/img_default.png" data-src="@randombanner.NameFileImage" class="ui image centered" alt="@randombanner.Name" title="@randombanner.Name" onerror="imgError(this)" />
                                                </a>
                                            </div>
                                            <div class="textFullBanner">
                                                <label class="ui fluid" style="font-size:30px; color: white;">@randombanner.Description</label>
                                            </div>
                                        </div>
                                    }
                                } else {
                                    if (!@randombanner.Name.Contains("mobile")){
                                        <div class="fullBannerWithText">
                                            <div class="linkFullBanner">
                                                <a href="@randombanner.Link" title="@randombanner.Name">
                                                    <img src="/assets/image/img_default.png" data-src="@randombanner.NameFileImage" class="ui image centered" alt="@randombanner.Name" title="@randombanner.Name" onerror="imgError(this)" />
                                                </a>
                                            </div>
                                            <div class="textFullBanner">
                                                <label class="ui fluid" style="font-size:30px; color: white;">@randombanner.Description</label>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>
                    </div>
                }
                if (bannerNoRandom.Any())
                {
                    <div class="ui images middle aligned center aligned">
                        <div class="header-fullbanners">
                            @foreach (var banner in bannerNoRandom)
                            {
                                if (Request.Browser.IsMobileDevice) {
                                <!-- HTML here for mobile device -->
                                    if (@banner.Name.Contains("mobile")){
                                        <a href="@banner.Link" title="@banner.Name">
                                            <img src="/assets/image/img_default.png" data-src="@banner.NameFileImage" class="ui image" alt="@banner.Name" title="@banner.Name" onerror="imgError(this)" />
                                        </a>
                                    }
                                }else{
                                     if (!@banner.Name.Contains("mobile")){
                                        <a href="@banner.Link" title="@banner.Name">
                                            <img src="/assets/image/img_default.png" data-src="@banner.NameFileImage" class="ui image" alt="@banner.Name" title="@banner.Name" onerror="imgError(this)" />
                                        </a>
                                     }
                                }
                            }
                        </div>
                    </div>
                }
            }
