﻿@model int

<div class="row two column botoes stackable">
    <div class="column">
        
                                    <a href="/home" class="ui animated button fluid large basic"
                                       tabindex="0">
                                        <div class="visible content">Voltar à Loja</div>
                                        <div class="hidden content">
                                            <i class="shopping bag icon"></i>
                                        </div>
                                    </a>
    </div>
    <div class="column">
        <button class="ui animated button fluid large submit action buttonsMiniCart" tabindex="0" id="btn_finalizar" data-total-itens="@Model" data-user-url="@(Session["UserAuthenticated"] == null ? "/checkout/Identification" : "/checkout/Payment")">
            <div class="visible content">Finalizar Compra</div>
            <div class="hidden content">
                <i class="right arrow icon"></i>
            </div>
        </button>
    </div>
</div>