@model DomainCheckout.Entities.CartItem

<div class="item carrinho-info" data-id-produto="@Model.IdProduct" data-id-cart="@Model.IdCartItem" id="itemCartProduct_@Model.IdCartItem">
    <div class="ui image small img-cart" style="height:100px;">
        <img src="@Model.ProductImage.ImageDefault"  onerror="imgError(this)">
    </div>
    <div class="content">
        <a href="/Product/Details/@Model.IdProduct" class="product title" id="name_@Model.IdCartItem">@Html.Raw(Model.NameProduct)</a>
        <div class="meta">
            @Model.IdProduct
        </div>
        <div class="description">
            <table class="ui very basic unstackable table ">
                <thead>
                    <tr>
                        <th>Qtd</th>
                        <th>Valor Un.</th>
                        <th class="title-total">Valor Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-idCartItem="@Model.IdCartItem">
                            <div class="ui qtd action mini input">
                                <button class="ui icon button qtdActionMiniCart" data-id="@Model.IdCartItem" data-action="minus" data-id-produto="@Model.IdProduct" data-id-sku="@Model.IdSku">
                                    <i class="minus icon"></i>
                                </button>
                                <input type="hidden" id="qtdInicial_@Model.IdCartItem" value="@Model.Quantity" />
                                <input type="hidden" value="@Model.Stock" name="stock_@Model.IdCartItem" id="stock_@Model.IdCartItem" />
                                <input type="number" class="text center inputMiniCart" min="0" step="1" size="3" value="@Model.Quantity" name="@Model.IdCartItem" id="qtd_@Model.IdCartItem" data-id="@Model.IdCartItem" data-action="ipt" />
                                <button class="ui grey icon button qtdActionMiniCart" data-id="@Model.IdCartItem" data-action="plus" data-id-produto="@Model.IdProduct" data-id-sku="@Model.IdSku">
                                    <i class="add icon"></i>
                                </button>
                            </div>
                        </td>
                        <td id="preco_unitario_@Model.IdCartItem">@string.Format("{0:c}", Model.PriceProduct)</td>
                        <td class="content-total"><strong id="preco_total_@Model.IdCartItem">@string.Format("{0:c}", Model.PriceTotalProduct)</strong></td>
                        <td>
                            <button class="mini ui icon button produto removeCartItem" data-id="@Model.IdCartItem" data-id-produto="@Model.IdProduct" data-id-sku="@Model.IdSku">
                                <img width="42px" height="42px" src="/assets/image/trash.png" alt="trash">
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>