﻿
        <div>
            @using (Ajax.BeginForm("Accesskey", "Customer", new AjaxOptions {HttpMethod = "POST", OnSuccess = "OnSuccess", OnFailure = "OnFailure", OnComplete = "OnComplete"}, new {@class = "ui large form"}))
            {
                @Html.AntiForgeryToken()
                <div>
                    <div>
                        <div class="row left aligned">
                            <div class="column">
                                <div class="field required">
                                    <div class="ui left icon input">
                                        <input type="email" autocomplete="off" required name="email" value='@Session["Email"]' onfocus="this.value=''" id="emailNew" placeholder="Digite seu E-mail" />
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui left icon input">
                                        <input type="text" name="Address[0].ZipCode" placeholder="00000-000" id="ZipCode" value='@Session["Address[0].ZipCode"]' class="masked mask_zipcode" data-validate="zipcode" maxlength="10"  onfocus="this.value=''" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="column">
                                <button id="enviarNew" disabled type="submit" class="ui animated button large submit primary right floated continuar" tabindex="0">
                                    <div class="content">Cadastrar</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui error message"></div>
            }
        </div>


<div class="ui mini modal" data-modal="">
    <i class="close icon"></i>
    <div class="content">
        <div class="ui form">
            <h4>Já sou cadastrado</h4>
            <div class="field">
                <div class="ui left icon input">
                    <i class="mail icon"></i>
                    <input class="field disabled" type="text" name="UserName" id="UserName" placeholder="Email">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="Password" id="Password" placeholder="Senha">
                </div>
            </div>
            <button type="button" id="Entrar" class="ui fluid large submit primary button">Entrar</button>
            <div class="ui divider"></div>
            <p>Esqueceu sua senha? <a href="/Customer/Forgot/">Recuperar senha</a>
            </p>
        </div>
    </div>
</div>



    <script type="text/javascript">

        $(document).ready(function(){
        function chkValidationForm() {
                var el = $("#emailNew");
                console.log(el.val())
                if(el.val() != ''){
                  $("#enviarNew").removeAttr('disabled');
                }else{
                 $("#enviarNew").attr('disabled', 'true');
              }
            }
                chkValidationForm();
            $("#emailNew").on("keyup", function(){
                chkValidationForm();
            })

        });
      



        function OnSuccess(response) {
            if (response.Success == true && response.Message == "Login") {
                $("#UserName").val($('#email').val())
                $('.ui.modal').modal('show');
            } else if (response.Success == true && response.Message == "CadastrarSenha") {
                window.location.href = "/Customer/CheckAccessKey";
            } else if (response.Success == true && response.Message == "Cadastro") {
                window.location.href = "/Customer/Register?zipCode="+$("#ZipCode").val();
            } else {
                swal({         
                    text: response.Message,
                    type: 'error',
                    showCancelButton: false,
                    confirmButtonColor: '#16ab39',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'OK'
                });
            }
        }

        function OnFailure(response) {
            if (response.Success == false) {
                swal({
                    title: '',
                    text: response.Message,
                    type: 'error',
                    showCancelButton: false,
                    confirmButtonColor: '#16ab39',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'OK'
                });
            }
        }

        function OnFailureLogin(response) {
            if (response.Success == false) {
                swal({
                    title: '',
                    text: response.Message,
                    type: 'error',
                    showCancelButton: false,
                    confirmButtonColor: '#16ab39',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'OK'
                });
            }
        }
    </script>
