/* BUSCA */
.ui.input.focus input,
.ui.input input:focus {
	background-color:#ebebeb;
}
i.icon.search:before {
	transform: scaleX(-1);
	color:#e60007;
	font-size:28px;
	padding:0 15px;
}

/* LOGO */
.logo-header {
	display: block;
	float: left;
	height:124px;
	margin-right:4%;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.logo-header a {
	display:block;
}
.logo-header img {
	margin:7px 0;
	width:245px;
	height:110px;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

/**/
.televendas {
	position:relative;
	top:32px;
	display: block;
	float:left;
	white-space:nowrap;
	margin-right:2%;
	text-align: right !important;
}
.televendas .title:before {
	content:"";
	position:absolute;
	top:0;
	left:0;
	display: block;
	width:30px;
	height:28px;
	background-image:url('./../../assets/image/sprite.png');
	background-position: 0 0;
}
.televendas .title {
	clear:both;
	position:relative;
	display:block;
	float:right;
	text-align:right;
	font-size: 16px;
	font-weight: 900;
	color: #e60007;
	padding:0 0 0 34px;
	line-height: 28px;
}
.televendas b {
	clear:both;
	display:block;
	float:right;
	text-align:right;
	font-size: 19px;
	font-weight: 900;
	line-height: 28px;
}



/**/
.boxbuttons {
	position:absolute;
	top:45px;
	right:0;
	display: block;
	float:right;
}
.boxbuttons-menu {
	position:absolute;
	top:25px;
	right:0;
	z-index:99;
	display:none;
}
.contabutton:hover .boxbuttons-menu {
	display:block;
}
.boxbuttons-menu-wrapper {
	display:block;
	margin-top:20px;
	background:#ebebeb;
	width:200px;
	padding:16px 20px;
}
.boxbuttons-menu-wrapper:before {
	content:"";
	position:absolute;
	top:11px;
	right:26px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #ebebeb transparent;
}
.boxbuttons-menu a.item {
	position:relative;
	display:block;
	line-height:30px;
	color:#000 !important;
	border-top:1px solid #cdcdcd;
	&:hover {
		color:#e60007 !important;
	}
}
.boxbuttons-menu .nao-logado a.item[title="Minha Conta"] {
	border-top:0;
}
.boxbuttons-menu-wrapper i.fas {
	padding-right:4px;
}
.boxbuttons-menu-wrapper span {
	display:block;
	padding:0 0 10px 0;
}


/* selos */
.footer .selos {
	padding:15px 0 0 0 !important;
}
.logoEmpresa {
	display:block;
}
.selos-rodape {
	display:block;
	float:right;
	text-align:right;
}
.mundipagg {
	position:relative;
	display:block;
	float:left;
	width:136px;
	height:31px;
	margin:0 0 0 20px;
	background-position:-1px -132px;
    background-image:url('./../../assets/image/sprite.png');
}
.clearsale {
	position:relative;
	display:block;
	float:left;
	width:136px;
	height:30px;
	margin:0 0 0 20px;
	background-position:-1px -96px;
    background-image:url('./../../assets/image/sprite.png');
}
.ebit {
	position:relative;
	display:block;
	float:left;
	width:71px;
	height:32px;
	margin:0 0 0 20px;
	background-position:-1px -169px;
    background-image:url('./../../assets/image/sprite.png');
}
.econcept {
	position:relative;
	display:block;
	float:right;
	width:150px;
	height:39px;
	margin:3px 0 0 0;
	background-position:-146px -95px;
    background-image:url('./../../assets/image/sprite.png');
}
.econcept:before {
	display:none;
	content:"CRIAÇÃO";
	position:absolute;
	top:-20px;
	font-size: 12px;
	color: #ababab;
	text-align:center;
	width:100%;
	text-align:center;
}
.jet-logo {
	position:relative;
	display:block;
	float:right;
}
.jet-logo img {
	margin:0 auto;
}
.jet-logo:before {
	display:none;
	content:"PLATAFORMA";
	font-size: 12px;
	color: #ababab;
	text-align:center;
}
.logoEmpresa .divisor-vertical {
	position:relative;
	display:block;
	float:right;
	width:1px;
	height:45px;
	background-color:#ccc;
	float:right;
	margin:0 30px;

}

/* SLICK CARROSSEL */
.slick-arrow {
	position:absolute !important;
	top:160px !important;
	display:block;
	border:0;
	width:17px;
	height:33px;
	cursor:pointer;
	text-indent: -9999em;
	background-color:transparent;
    background-image:url('./../../assets/image/sprite.png');
}
.slick-prev {
	left:-20px !important;
	background-position:-177px 0;
}
.slick-next {
	right:-20px !important;
	background-position:-198px 0;
}
.slick-dots li {
	margin:0 3px;
}
.slick-dots li button {
	border-radius:20px !important;
	background:rgba(0,70,106,0.8) !important;
	border:2px solid rgba(0,70,106,0.8) !important;
}
.slick-dots li.slick-active button {
	background:#fff !important;
}
.slick-dots li button:before {
	display:none;
}



/* BANNERS HOME */
.banners-home {
	overflow:hidden;
	display:block;
	clear:both;
	margin:60px 0;
}
.banner-home-item {
	overflow:hidden;
	position:relative;
	display:block;
	float:left;
	width:25%;
	color:#212121;
	box-sizing:border-box;
	text-align:center;
}
.banner-home-item img {
	border:3px solid #fff;
	margin: 0 7px;
	width:calc(100% - 15px);
	box-sizing:border-box;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.banner-home-item:hover img {
	border-color:#000;
}



/* HOME - DESTAQUES */
.destaques-home {
	position:relative;
	display:block;
	clear:both;
	overflow:hidden;
	padding:35px 0 0 0;
	margin:60px 0;
}
.destaques-home:before {
	content:"";
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	height:280px;
	z-index:-1;
	background:#e60007;
}
.destaques-home .legend {
	display:block;
	font-size: 38px;
	font-weight: 900;
	text-align: center;
	color: #fff;
	line-height:60px;
	padding:0 0 30px 0;
}
.destaques-home .legend strong {
	color: #f1f100;
}
.destaques-home .content {
	display:block;
	clear:both;
	overflow:hidden;
}
.destaque-home-item {
	position:relative;
	display:block;
	float:left;
	width:50%;
	overflow:hidden;
	box-sizing:border-box;
}
.destaque-home-item img {
	border:3px solid transparent;
	width:100%;
	box-sizing:border-box;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.destaque-home-item:hover img {
	border-color:#000;
}


/* FULLBANNER */
.header-fullbanners {
	display:block;
	clear:both;
	margin:5px 0 !important;
}
.header-fullbanners img {
	margin: 0 !important;
}

/* PRODUTO */
.ui.avaliacao {
	display:none !important;
}


/* MENU DE MARCAS */
.car-marcas {
	position:relative;
}
.car-marcas a {
	display:block;
	padding:0 10px;
}
.car-marcas img {
	opacity:0.6;
	filter:grayscale(100%);

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.car-marcas img:hover {
	opacity:1;
	filter:grayscale(0%);
}
.car-marcas .slick-arrow {
	top:65px !important;
}

/* produtos */
.page-produto {
	.ui.container.margin.bottom.large {
		width:100%;
	}
	.ui.stackable {
		.breadcrumb.top {
			display:none;
		}
	}
	.blocoInfo {
		.ui.attached.segment {
			display:block;
			clear:both;
			border: 0;
			padding:0;

			/* VARIACOES */
			h5 {
				position:absolute;
				top:10px;
				width:50%;
				display:block;
				margin:0;
				padding:0;
				left:50%;
				font-weight:800;
				font-size:12px;
				text-transform:uppercase;
				&:first-child{
					left:0;
				}
				+.ui.form {
					width:50%;
					float:left;
					display:block;
					box-sizing:border-box;
					padding:30px 0 0 0;
					.dropdown {
						margin-bottom:15px;
					}
				}
			}
		}
	}
	.detalhes-descricao {
		display:block;
		padding:20px 0;
		margin-top:50px;
		background-color:#f3f3f3;
	}
}
.detalhes.produto {
	#exibePartial {
		.row.produto-galeria {
			display:block !important;
			float:left !important;
			width:21% !important;
			padding-top: 0!important;
		}
		.row.produto-imagem {
			display:block !important;
			float:left !important;
			width:79% !important;
			padding:5px;
			border:solid 1px #ebebeb;

			.ui.image img {
				margin:0 auto;
				padding:0;
			}
		}
	}
	.infoProduto {
		float:right;
		.column-01 {
			display:block;
			width:100% !important;
			h5 {
				display:block;
				float:left;
				width:50%;
				margin:0;
				color:#989898;
				font-weight:600;
				span {
					font-weight:400;
				}
			}
		}
		.column-02 {
			display:none;
		}
		.blocoValores {
			.blocoPreco {
				#variacao-preco {
					text-align:left;
				}
			}
			.variacao-radio {
				&.selecionado {
					box-shadow: 0 0 0 3px rgba(0, 0, 0, .20) !important;
				}
			}
		}
	}
}
.car-gallery {
	a {
		display:block;
		margin:0 0 5px 0;
		padding:5px;
		border:solid 1px #ebebeb;

		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
		&:hover {
			border-color:#e60007;
		}
	}
}


.buttons-extras {
	display:block;
	float:left;
	width:100%;
	clear:both;
	text-align:center;

	.calcule-frete {
		display:inline-block;
		margin: 0 0 0 10px;
		text-align:center;
		width:88px;
		line-height:15px;
		cursor:pointer;
		padding:10px;
		border-radius:5px;

		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
		&:hover {
			background-color:#f1f1f1;
		}
		.calcule-icon {
			display:block;
			width:42px;
			height:34px;
			margin: 0 auto;
			background-position:-258px 3px;
    		background-image:url('./../../assets/image/sprite.png');
		}
		b {
			display:block;
			font-weight: 600;
			padding:10px 0 0 0;
		}
		.buttonsMiniCart {
			padding:0 20px !important;
			i {
				display:none;
			}
		}
	}
	.calcule-pagamento {
		display:inline-block;
		margin: 0;
		text-align:center;
		width:88px;
		line-height:15px;
		cursor:pointer;
		padding:10px;
		border-radius:5px;

		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
		&:hover {
			background-color:#f1f1f1;
		}
		.calcule-icon {
			display:block;
			width:34px;
			height:34px;
			margin: 0 auto;
			background-position:-257px -37px;
    		background-image:url('./../../assets/image/sprite.png');
    	}
		b {
			display:block;
			font-weight: 600;
			padding:10px 0 0 0;
		}
	}
	.calcule-frete-content {
		display:none;
		margin-top:15px;
	}
	.calcule-pagamento-content {
		display:none;
		margin-top:15px;
	}
}
.produto-redes-sociais {
	display:none !important;
}


#buy-together .ui.horizontal.divider,
#AlsoProducts .ui.horizontal.divider,
#RelatedProducts .ui.horizontal.divider {
	margin:20px auto 30px;

	&:before,
	&:after {
		content:"";
		display:none !important;
	}
	h3 {
	color: #e60007;
	font-size: 38px;
	font-weight: 900;
	}
}
	

/* COMPRE JUNTO */
.row#buy-together {
	display:block;
	width:100%;

	input#buy-together-skus {
		display:none;
	}
	.item.product-grid,
	.item.buy-together {
		position:relative;
		float:left;
		width:33.3%;
		border:0;
		margin:0 !important;
		padding:0 15px !important;
		box-sizing:border-box;
		a.header {
			display:block;
			color: #000;
			font-size: 15px;
			margin: 0;
			font-weight: 600;
			min-height: 76px;
			text-align:center;
			text-transform: uppercase;
		}
		.variacao-radio {
			&.selecionado {
				box-shadow: 0 0 0 3px rgba(0, 0, 0, .20) !important;
			}
		}
		.ui.image.small {
			display:block;
			clear:both;
			width:100%;
			flex:initial;
		}
		.content {
			display:block;
			clear:both;
			width:100%;
			text-align:center;
			.meta {
				text-align:center;
				span {
					display:none;
				}
				h4 {
					margin:0 !important;
					clear: both;
				    display: inline-block;
				    color: #e60007;
				    font-size: 26px;
				    line-height: 30px;
				    font-weight: 900;
				    padding: 4px 12px;
				    background-color: #f1f100;
				}
			}
			h5 {
				margin:0;
			}
		}
	}
	.item.product-grid .extra {
		display:none;
	}
	.item.buy-together .extra {
			position:absolute;
			top:200px;
			right:30px;
			button {
				background-color:#acacac !important;
				&:hover{
					background-color:#16ab39 !important;
					opacity:0.5 !important;
				}
				&.adicionado{
					background-color:#16ab39 !important;
				}
			}
			
	}
}


/* LABELS */
.ui.massive.label {
	position:absolute;
	top:0;
	right:0;
	left:initial;
	bottom:initial;
	padding:0;
	img {
		display:block !important;
	}
}


/* COLUNA ESQUERDA */
.filterColumn {

	.filterBlock {
		#filter {
			#filtros {
				
				.grouped.fields {
					.field {
						color: #828282;
						font-weight: 600;
						font-size: 16px;
						input[type="checkbox"] {
							display:none;
						}
						label {
							color:#828282;
							font-weight: 600;
							padding:2px 0 2px 14px;
							font-size:16px;

							-webkit-transition: all .3s ease;
							-moz-transition: all .3s ease;
							-o-transition: all .3s ease;
							transition: all .3s ease;
							&:before {
								content:"";
								display:none;
							}
							&:hover {
								color:#e60007;
							}
						}
					}
				}
				input[placeholder="Min"],
				input[placeholder="Max"] {
					background-color:#ebebeb !important;
					border-radius:0 !important;
					text-transform:uppercase;
					font-weight:600;
				}
			}
			.two.fields.stackable {
				position:relative;
				padding:0 45px 0 0;
			}
			.ui.button.pricefilter {
				position:absolute;
				top:8px;
				right:0;
				background-color:#6ac259 !important;
				box-shadow:none !important;
				width:30px !important;
				height:30px !important;
				border-radius:30px !important;
				padding: 0 !important;

				-webkit-transition: all .3s ease;
				-moz-transition: all .3s ease;
				-o-transition: all .3s ease;
				transition: all .3s ease;
				&:hover {					
					background-color:#52ab41 !important;
				}
				i.check {
					width:30px !important;
					height:30px !important;
					background-color:transparent !important;
				}
			}
			.groupList {
				display:none;
			}
	}
}
}

.ui.grid > .divided.row > .column {
	box-shadow: initial !important;
}
.page-category,
.page-search {
	> .ui.grid {
		.floated {
			background-color: #ebebeb;
			margin:0 1.5rem 10px 1.5rem;
			height:35px;
			.ui.basic.button.dropdownorder {
				float:left;
				border:0 !important;
				border-radius:0 !important;
				box-shadow:none !important;
				padding:0 !important;
				&:hover {
					background-color:transparent !important;
				}
				.text {
						position:relative;
						line-height:35px;
						padding:0 30px 0 15px !important;
						width:180px;
						color:#fff;
						font-size:12px;
						text-transform:uppercase;
						border-radius:0 !important;
						background-color: #e60007;
						box-sizing:border-box;
						&:after {
							content:"";
							position:absolute;
							top:13px;
							right:13px;
							display:block;
							width:14px;
							height:7px;
							background-position:-248px -82px;
	    					background-image:url('./../../assets/image/sprite.png');
	    					z-index:99;
						}
					}
				i.icon {
					display:none;
				}
				.menu {
						padding:0 !important;
						border-radius:0 !important;
						background-color: #e60007;
						min-width:initial;
						width:180px;
						box-sizing:border-box;
					.item {
						color:#fff !important;
						padding:0 !important;
						font-size:12px;
						line-height:35px !important;
						text-transform:uppercase;
						padding:0 30px 0 15px !important;
						&:hover {
							background:#bb0006 !important;
						}
						i.icon {
							display:none;
						}
					}
				}
			}
		}
	} 
}

button#viewgrid,
button#viewlist {
	display:none;
}


/* paginacao */
div.ui.pagination.menu {
	float:right;
	box-shadow:none;
	border:0;
	border-radius:0;
	background:transparent;
	min-height:initial;
	font-size:16px;
	line-height:35px;
}
div.ui.pagination.menu a.item {
	min-width:initial;
	padding:0 5px;
	font-weight:600;
	color:#828282;
	line-height:35px;
}
div.ui.pagination.menu a#nextPage:hover,
div.ui.pagination.menu a#previousPage:hover,
div.ui.pagination.menu a.item:hover {
	color:#e60007;
	background-color:transparent;
}
div.ui.pagination.menu .active.item {
	padding:0 5px;
	background:transparent;
}
div.ui.pagination.menu a.item:before {
	content:"";
	display:none;
}
div.ui.pagination.menu a#previousPage,
div.ui.pagination.menu a#nextPage {
	color:#828282;
}
div.ui.pagination.menu a#previousPage i,
div.ui.pagination.menu a#nextPage i {
	display:none;
}
div.ui.pagination.menu a#previousPage:after {
	content:"Anterior ";
}
div.ui.pagination.menu a#nextPage:after {
	content:"Próxima ";
}




.custom-desconto {
	position:absolute;
	top:-4px;
	left:-4px;
	display:block;
	color:#fff;
	width:44px;
	text-align:center;
	background-color:#e60007;
}
.custom-desconto:after {
	content:"";
	position:absolute;
	bottom:-14px;
	left:0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 14px 44px 0 0;
	border-color: #e60007 transparent transparent transparent;
}
.custom-desconto b {
	display:block;
	padding:5px 0 0 0;
}
.custom-desconto small {
	position:absolute;
	top:20px;
	display:block;
	width:100%;
}

.page-empty {
	padding: 40px 0 0 0;
	font-size:18px;
}


/* breadcrumb */
.nome-cat {
	display:none;
}
.ui.breadcrumb.text.small {
	display:block;
	text-align:left;
	text-transform:uppercase;
	font-size: 13px !important;
  	font-weight: 600 !important;
  	padding:0 10px;
  	color:#979797 !important;
}
.ui.breadcrumb.text.small a {
  	color:#979797 !important;
 }
.breadcrumbs > .row,
.breadcrumbs > .row + .ui.divider  {
	display:none !important;
}
#filtros:before {
	content:"FILTROS";
	display:block;
	text-align:left;
	font-weight:600;
	line-height:14px;
  	color:#979797 !important;
}


.header-mobile {
	display:none !important;
}


.ui.horizontal.divider {
	white-space:normal !important;
}

/* LOGIN */
.ui.one.column.grid.stackable.middle.aligned {
	clear:both;
}
.ui.segment.loginContent {
	border:0;
	box-shadow:none;
	padding:0;
	margin:0;
	.row.column {
		>.column {
			height:350px;
			background-color: #ebebeb;
			margin: 20px 20px 0 20px;
			width:calc(50% - 40px) !important;
		}
	}
	.signin {
		.legend {
			position:relative;
			top:-40px;
			display:block;
			color:#fff;
			text-align:center;
			padding:15px 0;
			background-color: #e60007;
			.title {
				font-size: 30px;
				line-height:38px;
				font-weight: 900;
			}
			small {
				font-size: 22px;
			}
		}
		.login-content {
			display:block;
			position:relative;
			padding:0 0 0 200px;
			text-align:left;
			p {
				a {
					text-decoration:underline;
				}
			}
		}
		.login-icon {
			position:absolute;
			top:0;
			left:0;
			display:block;
			width:166px;
			height:164px;
			background-position:-307px 0;
		    background-image: url(./../../assets/image/sprite.png);
		}
		input[name="password"],
		input[name="UserName"] {
			padding:16px !important;
			text-transform:uppercase;
			font-size:13px;
		}
		.field {
			margin-bottom:5px;
			i.icon {
				display:none !important;
			}
		}
		button#submitForm {
			display:block;
			width:170px !important;
			height:50px !important;
			color:#fff !important;
			font-size:18px !important;
			background:#000 !important;
			text-align:center !important;
			text-transform:uppercase !important;
			box-shadow: none !important;
			margin:0 auto !important;
			border-radius:0;

			-webkit-transition: all .3s ease;
			-moz-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
			&:hover {
				background:#444 !important;
			}
		}
		
	}
	.signup {
		.legend {
			position:relative;
			top:-40px;
			display:block;
			color:#fff;
			text-align:center;
			padding:15px 0;
			background-color: #f1f100;
			.title {
				font-size: 30px;
				line-height:38px;
				font-weight: 900;
				color:#e60007;
			}
			small {
				font-size: 22px;
				color:#e60007;
			}
		}
		.field {
			margin-bottom:5px;
		}
		.login-content {
			display:block;
			position:relative;
			padding:0 200px 0 0;
			text-align:left;
		}
		.login-icon {
			position:absolute;
			top:0;
			right:0;
			display:block;
			width:166px;
			height:164px;
			background-position:-478px 0;
		    background-image: url(./../../assets/image/sprite.png);
		}
		input[name="email"],
		input.mask_zipcode {
			padding:16px !important;
			text-transform:uppercase;
			font-size:13px;
		}
		#enviarNew,
		a.button {
			display:block;
			width:170px !important;
			height:50px !important;
			color:#fff !important;
			font-size:18px !important;
			line-height:50px !important;
			background:#000 !important;
			text-align:center !important;
			text-transform:uppercase !important;
			box-shadow: none !important;
			margin:42px auto 0 !important;
			padding:0 !important;
			border-radius:0;
			float:initial !important;

			-webkit-transition: all .3s ease;
			-moz-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
			&:disabled {
				opacity:initial !important;
			}
			&:hover {
				background:#444 !important;
			}
			i.icon {
				display:none;
			}
		}
	}
}

.produto .produto-imagem .ui.image {
	position:initial;
	width:100%;
}


/* MENU LATERAL */
#menu-lateral {
	display:block;
	margin: 0 0 40px 0;
	&:before {
		content:"CATEGORIAS";
		display:block;
		text-align:left;
		font-weight:600;
		line-height:14px;
	  	color:#979797 !important;
	}
	ul.wsmenu-list-all {
		list-style:none;
		padding:0;
		>li {
			display:block;
			margin:0 0 3px 0;
			>a.item {
				position:relative;
				display:block;	
				color:#fff;
			    font-size:18px;
			    font-style: italic;
			    text-transform:initial;
			    background-color:#e60007;
			    padding: 8px 0 8px 14px;
			    font-weight:600;
			    text-align:left;
			    &:hover {
			    	background:#bb0006;
			    }
			    i.icon {}
			}
			.megamenu-child-wrapper {
				padding:10px 15px;
				list-style:none;
				li {
					a {
						color:#828282;
			    		font-size:16px;
			    		font-weight:600px;
						display:block;
						padding:2px 0;
					    &:hover {
					    	color:#e60007 !important;
					    	text-decoration:underline;
					    }
					}
				}
			}
			.menu-image {
				display:none !important;
			}
		}
	}
}


/* TOOLBAR */
@media screen and (min-width: 1025px ) {
	body.open ._header {
		height: 100px;

		-webkit-transition: all .3s ease;
		-moz-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}
	body.open .logo-header {
		height:100px;
	}
	body.open .logo-header img {
		width:165px;
		height:71px;
		margin:14px 0;
	}
	body.open .televendas {
		display:none !important;
	}
	body.open .searchcolumn {
		width:55%;
		top:25px;
	}
	body.open .boxbuttons {
		top:35px;
	}
	.ui.cards > .ui.card.produto a.image {
		min-height:245px;
	}
}



@media screen and (max-width: 1200px ) and (min-width: 1025px ) {
}



@media screen and (max-width: 1180px ) {

	.menuheader .ui.container,
	._header .ui.container {
		width: 100% !important;
		box-sizing:border-box;
		padding:0 15px;
	}
	.wsmenu-list > li {
		width:12%;
	}
	.wsmenu-list > li:nth-child(n+9) {
		display:none;
	}
}



@media screen and (max-width: 1024px ) {

	.ui.mobile.only {
		display:none !important;
	}
	.boxbuttons {
		.text {
			display:none !important;
		}
	}
	._header .contabutton {
		margin-right:50px;
	}
	.newsletter-bar .legend {
		margin:15px 0 0 0;
	}
	.newsletter-bar h4.header {
		font-size:24px;
	}
	.newsletter-bar span.text {
		clear:both;
		font-size:18px;
	}
	.boxbuttons-menu {
		right:-25px;
	}

}


/* BOTAO COMPRAR - MOBILE */
.botoes {
	.ui.button.basic.primary {
		background-color:#f1f100 !important;
		border:0;
		color:#212121 !important;
		box-shadow:none !important;
		height:45px;
		line-height:45px;
		padding:0;

		&:before {
	    	content: "";
		    position: relative;
		    display: inline-block;
		    top:7px;
		    width: 27px;
		    height: 25px;
		    background-position: -142px -3px;
		    background-image: url(./../../assets/image/sprite.png);
		}
	}
	.icon.search {
		display:none;
	}
}

@media only screen and(max-width: 919px) {
	.ui.container.fluid._header {
		height:130px;
		/*position:relative !important;*/
	}
	.logo-header {
		height:63px;
		margin:0 0 0 55px;
		a {}
		img.logo {
			width:100px;
			height:43px;
		}
	}
	.televendas,
	.ui.mobile.only,
	.mobile-sub.wsmenu-list.ui.menu {
		display:none !important;
	}
	.ui.container.fluid.menuheader {
		position:absolute;
		top:0;
		left:0;
		z-index:999 !important;
		width:56px !important;
		height:65px !important;
	}
	.menuheader .menu-all {
		position:initial;
		display:block;
		width:100%;
		.title {
			display:none;
		}
		.wsmenu-list-all {
			display:block!important;
			position:initial!important;
			border:0!important;
			box-shadow:none!important;
			background-color:transparent !important;
			text-align:center;
			padding:45px 0 25px 0;
			a.item {
				display:block!important;
				font-size:20px;
				color:#fff;
				padding:10px 0;
			}
		}
	}
	.boxbuttons {
		top:20px;
		right:20px;
	}
	.ui.container.fluid._header .searchcolumn {
		display:block !important;
		clear:both;
		position:relative;
		width:100%;
		top:10px;
		left:0;
	}


	.newsletter-bar {
		float:left;
		height:auto;
		width:100%;
	}
	.newsletter-bar .legend {
		display:block;
		clear:both;
		width:100%;
	}
	.newsletter-bar h4.header {
		font-size:22px;
	}
	.newsletter-bar span.text {
		font-size:11px;
	}
	.newsletter-bar .content {
		width:100%;
		margin:15px 0;
	}

	.footer-01,
	.footer-02 {
		clear:both;
	}
	.footer-01 h4,
	.footer-02 h4 {
		text-align:left;
	}

	.clearsale {
		margin:0;
	}

	.footer .list.link {
		display:block !important;
		color:#2f2f2f !important;
		background-color:transparent !important;
	}

	.banners-home {
		.banner-home-item {
			width:50%;
		}
	}

	.destaques-home {
		.legend strong {
			display:block;
		}
		.destaque-home-item {
			width:100%;
		}
	}
	.topsellers {
		.ui.cards > .card {
			width:100%;
			margin:10px auto !important;
		}
	}

	.ui.horizontal.list.selos {
		display:block;
		clear:both;
		width:100%;
		float:left;

		span.clearsale,
		span.mundipagg,
		span.ebit {
			display:block;
			clear:both;
			margin:0 0 10px 0;
			float:left;
		}
	}

	.detalhes.produto #exibePartial .row.produto-galeria {
		width:100% !important;
		clear:both;
		display:block;
		.car-gallery {
			a {
				max-width: 80px;
				img {
				}
			}
		}
	}
	.detalhes.produto #exibePartial .row.produto-imagem {
		width:100% !important;
		clear:both;
		display:block;
		border:0;
	}
	.ui.grid .row .ui.container {
		padding-left:0 !important;
		padding-right:0 !important;
	}
	.infoProduto > .ui.breadcrumb {
		display:none;
	}

}


@media only screen and(max-width: 767px) {

	.ui.sidebar.carrinho a.logo-carrinho,
	#miniCarrinho a.logo-carrinho {
		display:none;
	}

	.ui.container.fluid .ui.container {
		padding:0 15px !important;
		margin:0 !important;
	}

	.page-produto .blocoInfo .ui.attached.segment h5 {
		width:initial;
	}
	.page-produto .blocoInfo .ui.attached.segment h5 + .ui.form {
		width:100%;
	}
	.detalhes.produto .infoProduto .blocoValores .blocoPreco #variacao-preco {
		text-align:center;
	}
	.btnComprar .action.btn-comprar {
		margin:0 auto;
	}

	.produto .product.information .column-01,
	.produto .product.information .column-02 {
		display:block !important;
		clear:both !important;
		width:100% !important;
	}
}