topbar,
headlogo {
  width: 100%;
}

._header {
  background: rgb(255,255,255);
  margin-top: 0px;
  border-top: 2px solid #e60007;
  height:126px;

  &.fixed{
    box-shadow: rgba(0,0,0,.3) 0px 0px 10px 0px;
    @media screen and (max-width: $mobile-bp) {
      box-shadow: none;
      border-bottom:1px solid #eee;
    }

    .blocoBusca {
      top:90px;
    }
  }

  .ui.container {
    position:relative;
    padding-top: 0px !important;
    padding-bottom: 10px !important;
  }

  i.circular.icon {
    box-shadow: none;
  }

  .ui.floating.label {
    top: 0.8em;
    left: 105%;
  }

  .searchcolumn {
    position:relative !important;
    top:35px;
    width:34%;
    float:left;

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;

    .ui.icon.input > i.icon {
      opacity: initial;
    }

    @media screen and (max-width: $mobile-bp) {
      display: none !important;
    }
  }

  .searchMobile {
    display: inline-block;
    float: right;
    margin-right: 1em;
    padding-right: 1em;
    border-right: 1px solid #eee;

    >.button {
      background: transparent;
      margin: 0;
    }

    .blocoBusca {
      display: none;
      &.active {
        display: block !important;
        position: fixed;
        right: 10px;
        top: 100px;
        z-index: 10;
        width: calc(100% - 20px);
        height: 40px;

        i {
          top:0 !important;
          right: 0 !important;
        }
      }
    }
  }


  .cartbutton {
    margin: 0;
    position: relative;
    display: block;
    cursor: pointer;
    float: right;
    line-height: 33px;
    padding:0 35px 0 0;  
      .icon {
        display: block;
        float:left;
        width: 36px;
        height: 33px;
        background-image:url('./../../assets/image/sprite.png');
        background-position: -101px 0;
      }
      .text {
        display: block;
        float:left;
        font-size: 10px;
        line-height:33px;
        font-weight: 700;
        margin:0 0 0 5px;
        &:before {
          content:"MEU ";
        }
      }
      #total_itens_card {
        position:absolute;
        bottom: 4px;
        right:0;  
        display: block;
        width:28px;
        height:28px;
        line-height:28px;
        text-align:center;
        color:#e60007;
        font-weight:800;
        font-size:16px;
        border-radius:30px;
        background:#f1f100;
      }
      &:hover {
        color: #e60007;
      }
    .ui.basic.button {
      > span {
        @media screen and (max-width: $mobile-bp){
          display: none;
        }
      }
    }
  }


  .contabutton {
      position: relative;
      float: left;
      margin-right:30px;
      >a>.icon {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 26px;
        height: 33px;
        background-image:url('./../../assets/image/sprite.png');
        background-position: -69px 0;
      }
      .text {
        display: block;
        padding: 0 0 0 33px;
        font-size: 10px;
        line-height:33px;
        font-weight: 700;
      }
      &:hover a {
        color: #e60007;
      }
  }

}
