//Button - Default - Base
$default-color:#E0E1E2;
$default-font-color:#rgba(0, 0, 0, 0.6);
$default-border-color:#rgba(34, 36, 38, 0.15);

//Button - Default - Active
$default-color--active:#BABBBC;
$default-font-color--active:#rgba(0, 0, 0, 0.9);

//Button - Default - Hover
$default-color--hover:#CACBCD;
$default-font-color--hover:#rgba(0, 0, 0, 0.8);
$default-border-color--hover:#rgba(34, 36, 38, 0.15);

//Button - Default - Focus
$default-color--focus:#CACBCD;
$default-font-color--focus:#rgba(0, 0, 0, 0.8);

//Button - Active - Base
$default-active-color:#C0C1C2;
$default-active-font-color:#rgba(0, 0, 0, 0.95);

//Button - Active - Active
$default-active-color--active:#C0C1C2;

//Button - Active - Hover
$default-active-color--hover:#C0C1C2;
$default-active-font-color--hover:#rgba(0, 0, 0, 0.95);

//Button - Active - Focus
$default-active-color--focus:#BABBBC;
$default-active-font-color--focus:#rgba(0, 0, 0, 0.9);

//Button - Primary - Base
$primary-color:#e60007;
$primary-font-color:#FFFFFF;
$primary-border-color:#rgba(34, 36, 38, 0.15);

//Button - Primary - Active
$primary-color-active:#1a69a4;
$primary-font-color-active:#FFFFFF;

//Button - Primary - Active
$primary-color--active:#1a69a4;
$primary-font-color--active:#FFFFFF;

//Button - Primary - Hover
$primary-color--hover:#1678c2;
$primary-font-color--hover:#FFFFFF;

//Button - Primary - Focus
$primary-color--focus:#0d71bb;
$primary-font-color--focus:#FFFFFF;

//Button - Primary - Base
$primary-active-color:#1279c6;
$primary-active-font-color:#FFFFFF;

//Button - Primary - Active
$primary-active-color--active:#1279c6;
$primary-active-font-color--active:#FFFFFF;

//Button - Primary - Base

$primary-basic-font-color:#2185D0;
$primary-basic-border-color:#2185D0;

//Button - Primary - Active

$primary-basic-font-color--active:#1a69a4;
$primary-basic-border-color--active:#1279c6;

//Button - Primary - Hover

$primary-basic-font-color--hover:#1678c2;
$primary-basic-border-color--hover:#1678c2;

//Button - Primary - Focus

$primary-basic-font-color--focus:#1678c2;
$primary-basic-border-color--focus:#0d71bb;

//Button - Primary - Base

$primary-basic-active-font-color:#1a69a4;
$primary-basic-active-border-color:#1a69a4;

//Button - Secondary - Base
$secondary-color:#1B1C1D;
$secondary-font-color:#FFFFFF;
$secondary-border-color:#rgba(34, 36, 38, 0.15);

//Button - Secondary - Active
$secondary-color--active:#343637;
$secondary-font-color--active:#FFFFFF;

//Button - Secondary - Hover
$secondary-color--hover:#27292a;
$secondary-font-color--hover:#FFFFFF;

//Button - Secondary - Focus
$secondary-color--focus:#2e3032;
$secondary-font-color--focus:#FFFFFF;

//Button - Secondary - Base
$secondary-active-color:#27292a;
$secondary-active-font-color:#FFFFFF;

//Button - Secondary - Active
$secondary-active-color--active:#27292a;
$secondary-active-font-color--active:#FFFFFF;

//Button - Secondary - Base

$secondary-basic-font-color:#1B1C1D;
$secondary-basic-border-color:#1B1C1D;

//Button - Secondary - Active

$secondary-basic-font-color--active:#343637;
$secondary-basic-border-color--active:#27292a;

//Button - Secondary - Hover

$secondary-basic-font-color--hover:#27292a;
$secondary-basic-border-color--hover:#27292a;

//Button - Secondary - Focus

$secondary-basic-font-color--focus:#27292a;
$secondary-basic-border-color--focus:#2e3032;

//Button - Secondary - Base

$secondary-basic-active-font-color:#343637;
$secondary-basic-active-border-color:#343637;
