//Font
$body-font-size: 14px;
$import-google-fonts: false;
$font-url: 'https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,600i,700,700i,800,800i,900';
$font-name: 'Nunito';
$font-family: $font-name, 'Helvetica Neue', Arial, Helvetica, sans-serif;