﻿<div class="ui container fluid infoBar">
    <div class="ui container">
        <div class="ui middle stackable grid computer only">
            <div class="row doubling four column">
                <div class="infoBar-wrapper">

                <div class="column column-01">
                    <div class="icon_place">
                    </div>
                    <div class="text_place">
                        <h3>LOJA FÍSICA COM</h3>
                        <b>MAIS DE 30 ANOS</b>
                    </div>
                </div>
                <div class="column column-02">
                    <div class="icon_place">
                    </div>
                    <div class="text_place">
                        <h3>PREÇOS EXCLUSIVOS</h3>
                        <b>SOMENTE NO SITE</b>
                    </div>
                </div>
                <div class="column column-03">
                    <div class="icon_place">
                    </div>
                    <div class="text_place">
                        <h3>CANAL EMPRESA</h3>
                        <b>CONDIÇÕES EXCLUSIVAS</b>
                    </div>
                </div>
                <div class="column column-04">
                    <a href="/fale-conosco" title="Solicite um Orçamento">
                        <div class="icon_place">
                        </div>
                        <div class="text_place">
                            <h3>SOLICITE</h3>
                            <b>UM ORÇAMENTO</b>
                        </div>
                    </a>
                </div>

                </div>
            </div>  
        </div>
    </div>
</div>