﻿@model DomainProduct.Result


@if (Model.Products != null && Model.Products.Any())
{
    <div class="ui container topsellers no-slideshow">

        <div class="ui horizontal divider hidden-xs hidden-sm text">
            <h2>As melhores ofertas</h2>
            <p class="text-right">Confira nossas últimas novidades e ofertas especiais</p>
        </div>
        <!-- Page: ~/Views/Shared/Blocks/Product/_ProductList.cshtml -->
        
        @Html.Partial("~/Views/Shared/Blocks/Product/_ProductList.cshtml", Model.Products)

    </div>
}

