@model DomainProduct.Result
@if (Model != null && Model.Products.Any())
{
        <div class="ui container topsellers mais_vendidos">

            <div class="ui horizontal divider hidden-xs hidden-sm text">
                <h2>Os mais vendidos</h2>
                <p class="text-right">Confira nossos produtos mais vendidos</p>
            </div>
            
            @if (Request.Browser.IsMobileDevice) {

                <div class="ui grid">
                    <div class="row one column">
                        <div class="ui doubling two cards centered car-maisvendidos">
                            
                            @{
                                var contador = 0;
                                foreach (var product in Model.Products)
                                {
                                    <!-- Page: ~/Views/Shared/Object/Product/_ProductInCard.cshtml -->
                                    @Html.Partial("~/Views/Shared/Object/Product/_ProductInCard.cshtml", product)
                                    
                                    contador++;
                                    
                                    if (contador >= 4)
                                    {
                                        break;
                                    }
                                }
                            }
                            
                            
                        </div>
                    </div>
                </div>

            }else {
                <div class="ui container">
                    <div class="ui column cards centered car-maisvendidos slideshow">
                        
                        @{
                            var contador = 0;
                            foreach (var product in Model.Products)
                            {
                                <!-- Page: ~/Views/Shared/Object/Product/_ProductInCard.cshtml -->
                                @Html.Partial("~/Views/Shared/Object/Product/_ProductInCard.cshtml", product)
                                
                                contador++;
                                
                                if (contador >= 6)
                                {
                                    break;
                                }
                            }
                        }
                        
                        
                    </div>
                </div>
            }
            
            <div class="ui divider hidden"></div>
        </div>
}