﻿<!-- Start -->
<script src="~/assets/js/manifest.js"></script>
<script src="~/assets/js/vendor.js"></script>
<script src="~/assets/js/app.js"></script>
<script src="~/assets/js/slick.js"></script>
<script src="~/assets/js/slick.js"></script>
<script src="~/assets/js/01-sanders.js"></script>



<!--GLOBAL-->
<script type="text/javascript">


  function formatMoney(amount, decimalCount = 2, decimal = ",", thousands = ".") {
    try {
      decimalCount = Math.abs(decimalCount);
      decimalCount = isNaN(decimalCount) ? 2 : decimalCount;

      const negativeSign = amount < 0 ? "-" : "";

      let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
      let j = (i.length > 3) ? i.length % 3 : 0;

      return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands) + (decimalCount ? decimal + Math.abs(amount - i).toFixed(decimalCount).slice(2) : "");
    } catch (e) {
      console.log(e)
    }
  };


window.setTimeout(function(){
    $("#menu-lateral .wsmenu-list-all > li > a.current-class").parent("li").addClass("current");
    $("#menu-lateral .menu-list > li > a.current-class").parents("li").addClass("current");
}, 1500);




    $(document).ready(function () {
        updateQuantidadeTopoCarrinho();



        $("#menu-lateral ul.wsmenu-list-all > li .megamenu-child-wrapper li a.current-class").parents("ul.wsmenu-list-all > li").addClass("current");
        $("#menu-lateral ul.wsmenu-list-all > li > a.current-class").parent().addClass("current");


        $(".menuheader .menu-all .wsmenu-list-all > li:nth-child(7n)").after("<span class='menu-line'></span");

        //MOVE BANNERS DO RODAPE
        $(".banners-home").insertAfter(".pusher > .topsellers > .ui.horizontal:first-child + .ui.container");

        $(".destaques-home").insertBefore(".pusher > .topsellers > .horizontal:nth-child(11)");

        //IDENTIFICA PAG DE PRODUTO
        $(".produto .detalhes.produto").parents("body").addClass("page-produto");

        $(".ui.breadcrumb.text.small").prependTo(".page-category");
        $(".ui.breadcrumb.text.small").prependTo(".page-search");


        //  categoria - menu lateral
        $(".filterColumn").prepend("<div id='menu-lateral'></div>");
        $(".wsmenu-list-all").clone().prependTo(".filterColumn #menu-lateral");

        //IDENTIFICA PAG DE PRODUTO
        //$("div.ui.pagination.menu").clone().insertAfter("button#viewlist");


        //PAGINA DE PRODUTO - MOVE BREADCRUMB
        $(".page-produto .breadcrumb.top").prependTo(".page-produto .infoProduto .mobile-hide.product.information > .column");


        $(".calcule-frete").click(function() {
          $(".calcule-frete-content").toggle();
          $("#pagamento-calculado").css("display","none");
        });

        $(".calcule-pagamento").click(function() {
          $("#pagamento-calculado").toggle();
          $(".calcule-frete-content").css("display","none");
        });


    //TOOLBAR
        if($('._header').length > 0){
            $(window).bind('scroll',function(){
                if ( $(this).scrollTop() > 24 ) {
                    $('body').addClass('open');
                } else {
                    $('body').removeClass('open');
                }
            });
        }

        /*$("._header").css("position","initial");*/

        
        //FULLBANNER
        $('.header-fullbanners').slick({
          slidesToShow: 1,
          slidesToScroll: 1,
          autoplay: true,
          arrows:false,
          dots:true,
          speed: 500,
          fade:true,
        });


        //SLICK CAROUSSEL
        /*
            $('.topsellers .cards.slideshow').slick({
              slidesToShow: 4,
              slidesToScroll: 4,
              autoplay: false,
              responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 933,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 723,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
            });
        */


        $('.car-marcas').slick({
            dots: false,
            slidesToShow: 6,
            slidesToScroll: 6,
            accessibility: false,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 5,
                        slidesToScroll: 5
                    }
                },
                {
                    breakpoint: 933,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 4
                    }
                },
                {
                    breakpoint: 723,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                }
            ]
        });


        if (screen.width < 919) {
           $(".detalhes.produto .row.produto-galeria").insertAfter(".detalhes.produto .row.produto-imagem");
        }


    })

    function updateQuantidadeTopoCarrinho() {
        $.ajax({
            method: "GET",
            url: "@(Session["EventList"] != null ? "/EventList/TotalItensList" : "/Checkout/TotalItensCart")",
            data: {},
            success: function (data) {
                $("#total_itens_card").text(data)
                if (data != "")
                    $("#MiniCartTitle").text("@(Session["idEventList"] == null && Session["EventList"] == null ? "Meu Carrinho" : "Minha Lista") (" + data + ")")
            },
            onFailure: function (data) {
                    if (action == "plus") {
                        valorInput -= 1;
                    } else {
                        valorInput += 1;
                    }
                }
             });
    }



</script>