﻿@{ List
<DomainSocialNetwork.Entities.SocialNetwork> redesSociais = Session["SocialNetworkLinks"] != null ? (List
    <DomainSocialNetwork.Entities.SocialNetwork>)Session["SocialNetworkLinks"] : new List
        <DomainSocialNetwork.Entities.SocialNetwork>(); }
        
        <div class="newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-md-offset-6">
                        <h2>
                            Cadastre-se agora e ganhe <br>
                            5% de desconto na primeira compra
                        </h2>
                        <div class="ui form">
                            <div class="content">
                                <div class="ui">
                                    <input type="text" placeholder="Digite aqui o seu email" id="email_news">
                                    <button class="ui button" id="btn_news">Cadastrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <div class="ui container fluid vertical segment footer footer-01">
            <div class="ui container">
                <div class="ui four column stackable equal height grid">



                    <div class="ten wide table nine wide computer column">
                        <div class="ui grid stackable">
                            <div class="row three column no padding listMobile">
                                @Html.Action("CustomPages", "Home")

                                <div class="column">
                                    <h4 class="ui inverted header">Área do cliente<i class="ui icon chevron right mobile only"></i></h4>
                                    <div class="ui inverted link list">
                                        <a href="/customer/login" class="item" title="Minha Conta">
                                            <h5>Minha Conta</h5>
                                        </a>
                                        <a href="/Order/Index" class="item" title="Meus Pedidos">
                                            <h5>Meus Pedidos</h5>
                                        </a>
                                        <a href="/institucional/327/1714" class="item" title="Meus Endereços">
                                            <h5>Meus Endereços</h5>
                                        </a>
                                        <a href="/Order/Index" class="item" title="Rastreie seu Pedido">
                                            <h5>Rastreie seu Pedido</h5>
                                        </a>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>



                    <div class="six wide tablet four wide computer column">
                        <div class="ui grid stackable">
                            <div class="row one column no padding custom-atendimento">
                                @Html.Action("GetList", "EventList")
                                <div class="column">
                                    <h4 class="ui inverted header">Atendimento</h4>
                                    <ul>
                                        <li class="telefone">@LojaCorp.Control.Company._Company.Phone1 </li> <br class="visible-xs visible-sm">
                                        <li class="email">sac@lojacasanova.com.br </li><br class="visible-xs visible-sm">
                                        <li class="horario">Segunda à Sexta das 08:00 às 18:30 e <br class="visible-xs visible-sm"> Sábado das 08:00 às 18:00</li>
                                        <!-- <li class="formulario"><a href="/fale-conosco">Fale Conosco </a></li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="column eight wide tablet three wide computer mobile-hide">
                        <div class="ui grid stackable">
                        <div class="row one column no padding custom-social-media">
                            <div class="column">
                            <h4 class="ui inverted header">Siga a Casa Nova</h4>
                            <socialbar>



                                    @if (redesSociais.Find(f => f.Identifier == "facebook") != null)
                                    {
                                        <a class="social-facebook" href="@redesSociais.Find(f => f.Identifier == "facebook").Content" target="_blank">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    }
                                    @if (redesSociais.Find(f => f.Identifier == "instagram") != null)
                                    {
                                        <a class="social-instagram" href="@redesSociais.Find(f => f.Identifier == "instagram").Content" target="_blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    }
                                    @if (redesSociais.Find(f => f.Identifier == "twitter") != null)
                                    {
                                        <a class="social-twitter" href="@redesSociais.Find(f => f.Identifier == "twitter").Content" target="_blank">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    }
                                    @if (redesSociais.Find(f => f.Identifier == "youtube") != null)
                                    {
                                        <a class="social-youtube" href="@redesSociais.Find(f => f.Identifier == "youtube").Content" target="_blank">
                                            <i class="fab fa-youtube"></i>
                                        </a>
                                    }
                                    @if (redesSociais.Find(f => f.Identifier == "google plus") != null)
                                    {
                                        <a class="social-googleplus" href="@redesSociais.Find(f => f.Identifier == "google plus").Content" target="_blank">
                                            <i class="fab fa-google-plus-g"></i>
                                        </a>
                                    }
                                    @if (redesSociais.Find(f => f.Identifier.ToUpper() == "Whatsapp") != null) {
                                        <a class="social-whatsapp" href="https://api.whatsapp.com/send?text=@HttpContext.Current.Request.Url.ToString()" target="_blank" title="Whatsapp">
                                            <i class="fab fa-whatsapp"></i>
                                        </a>
                                    }


                            </socialbar>
                            </div>
                        </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        <div class="ui container fluid vertical segment footer footer-02">
            <div class="ui container">
                <div class="ui four column stackable equal height grid">


                    <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
                        <div class="ui grid stackable">
                            <div class="row one column no padding">
                                <div class="column seven wide tablet six wide computer">
                                    <h4 class="ui inverted header">Formas de pagamento</h4>
                                    @Html.Partial("~/Views/Shared/Common/_Payments_List.cshtml")
                                </div>
                                <div class="column seven wide tablet five wide computer selos-rodape">
                                    <h4 class="ui inverted header">Selos de segurança</h4>
                                    <div class="ui horizontal list selos">
                                        <span class="clearsale"></span>
                                        <span class="ebit"></span>
                                    </div>
                                </div>
                                <div class="column seven wide tablet four wide computer selos-rodape-jet-sanders">
                                    <h4 class="ui inverted header">Tecnologia/ Implantação</h4>
                                    <div class="ui horizontal list selos">
                                        <span class="sanders"></span>
                                        <span class="jet"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>
        </div>




        <div class="ui container fluid vertical subFooter">
            <div class="ui container">
                <div class="ui column grid">
                    <div class="row stackable">
                        <div class="column text small wide textoEmpresa">
                            @LojaCorp.Control.Company._Company.FantasyName -
                            <address>
                    @{
                        string complementAddress = LojaCorp.Control.Company._Company.Complement != "" ? " " + LojaCorp.Control.Company._Company.Complement + ", " : "";
                    }
                    @string.Format("{0}, {1}{2}", LojaCorp.Control.Company._Company.Address, complementAddress, LojaCorp.Control.Company._Company.Neighbourhood) |
                    @string.Format("{0}-{1}-{2}", LojaCorp.Control.Company._Company.CEP, LojaCorp.Control.Company._Company.City, LojaCorp.Control.Company._Company.State) |
                    CNPJ: @LojaCorp.Control.Company._Company.CNPJ
                </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-block">

        </div>