﻿@{ List
<DomainSocialNetwork.Entities.SocialNetwork> redesSociais = Session["SocialNetworkLinks"] != null ? (List
    <DomainSocialNetwork.Entities.SocialNetwork>)Session["SocialNetworkLinks"] : new List
        <DomainSocialNetwork.Entities.SocialNetwork>(); }

            <div class="ui container fluid newsletter-bar">
                <div class="ui container">
                    <div class="row stackable">
                        <div class="column">
                            <div class="ui form">
                                <span class="legend">
                                <h4 class="header">PROMOÇÕES NO E-MAIL</h4>
                                <span class="text">Cadastre-se e receba as melhores ofertas e promoções</span>
                                </span>
                                <div class="content">
                                    <div class="ui">
                                        <input type="text" placeholder="DIGITE SEU E-MAIL PARA COMEÇAR A RECEBER" id="email_news">
                                        <button class="ui button" id="btn_news">CADASTRAR</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="ui container fluid vertical segment footer footer-01">
                <div class="ui container">
                    <div class="ui four column stackable equal height grid">



                        <div class="ten wide table ten wide computer column">
                            <div class="ui grid stackable">
                                <div class="row three column no padding listMobile">
                                    @Html.Action("CustomPages", "Home")

                                    <div class="column">
                                        <h4 class="ui inverted header">ÁREA DO CLIENTE</h4>
                                        <div class="ui inverted link list">
                                            <a href="/customer/login" class="item" title="Minha Conta">
                                                <h5>Minha Conta</h5>
                                            </a>
                                            <a href="/Order/Index" class="item" title="Meus Pedidos">
                                                <h5>Meus Pedidos</h5>
                                            </a>
                                            <a href="/Customer/changeAddress" class="item" title="Meus Endereços">
                                                <h5>Meus Endereços</h5>
                                            </a>
                                            <a href="/Order/Index" class="item" title="Rastreie seu Pedido">
                                                <h5>Rastreie seu Pedido</h5>
                                            </a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>



                        <div class="six wide tablet four wide computer column">
                            <div class="ui grid stackable">
                                <div class="row one column no padding custom-atendimento">
                                    @Html.Action("GetList", "EventList")
                                    <div class="column">
                                        <h4 class="ui inverted header">ATENDIMENTO</h4>
                                        <ul>
                                            <li class="telefone">@LojaCorp.Control.Company._Company.Phone1 </li>
                                            <li class="email">sac@lojacasanova.com.br </li>
                                            <li class="horario">seg-sex das 08:00 as 18:30 e </br>sábado das 08:00 as 18:00</li>
                                            <li class="formulario"><a href="/fale-conosco">Fale Conosco </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="column eight wide tablet two wide computer mobile-hide">
                            <div class="ui grid stackable">
                            <div class="row one column no padding custom-social-media">
                                <div class="column">
                                <h4 class="ui inverted header">SIGA-NOS</h4>
                                <socialbar>



                                        @if (redesSociais.Find(f => f.Identifier == "facebook") != null)
                                        {
                                            <a class="social-facebook" href="@redesSociais.Find(f => f.Identifier == "facebook").Content" target="_blank">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        }
                                        @if (redesSociais.Find(f => f.Identifier == "instagram") != null)
                                        {
                                            <a class="social-instagram" href="@redesSociais.Find(f => f.Identifier == "instagram").Content" target="_blank">
                                                <i class="fab fa-instagram"></i>
                                            </a>
                                        }
                                        @if (redesSociais.Find(f => f.Identifier == "twitter") != null)
                                        {
                                            <a class="social-twitter" href="@redesSociais.Find(f => f.Identifier == "twitter").Content" target="_blank">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        }
                                        @if (redesSociais.Find(f => f.Identifier == "youtube") != null)
                                        {
                                            <a class="social-youtube" href="@redesSociais.Find(f => f.Identifier == "youtube").Content" target="_blank">
                                               <i class="fab fa-youtube"></i>
                                            </a>
                                        }
                                        @if (redesSociais.Find(f => f.Identifier == "google plus") != null)
                                        {
                                            <a class="social-googleplus" href="@redesSociais.Find(f => f.Identifier == "google plus").Content" target="_blank">
                                                <i class="fab fa-google-plus-g"></i>
                                            </a>
                                        }
                                        @if (redesSociais.Find(f => f.Identifier.ToUpper() == "Whatsapp") != null) {
                                            <a class="social-whatsapp" href="https://api.whatsapp.com/send?text=@HttpContext.Current.Request.Url.ToString()" target="_blank" title="Whatsapp">
                                                <i class="fab fa-whatsapp"></i>
                                            </a>
                                        }


                                </socialbar>
                                </div>
                            </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>


            <div class="ui container fluid vertical segment footer footer-02">
                <div class="ui container">
                    <div class="ui four column stackable equal height grid">


                        <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
                            <div class="ui grid stackable">
                                <div class="row one column no padding">
                                    <div class="column seven wide tablet eight wide computer">
                                        <h4 class="ui inverted header">FORMAS DE PAGAMENTO</h4>
                                        @Html.Partial("~/Views/Shared/Common/_Payments_List.cshtml")
                                    </div>
                                    <div class="column seven wide tablet eight wide computer selos-rodape">
                                        <h4 class="ui inverted header">SELOS DE SEGURANÇA</h4>
                                        <div class="ui horizontal list selos">
                                            <span class="clearsale"></span>
                                            <span class="ebit"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>




            <div class="ui container fluid vertical subFooter">
                <div class="ui container">
                    <div class="ui column grid">
                        <div class="row stackable">
                            <div class="column text small eight wide textoEmpresa">
                                @LojaCorp.Control.Company._Company.FantasyName -
                                <address>
                        @{
                            string complementAddress = LojaCorp.Control.Company._Company.Complement != "" ? " " + LojaCorp.Control.Company._Company.Complement + ", " : "";
                        }
                        @string.Format("{0}, {1}{2}", LojaCorp.Control.Company._Company.Address, complementAddress, LojaCorp.Control.Company._Company.Neighbourhood) |
                        @string.Format("{0}-{1}-{2}", LojaCorp.Control.Company._Company.CEP, LojaCorp.Control.Company._Company.City, LojaCorp.Control.Company._Company.State) |
                        CNPJ: @LojaCorp.Control.Company._Company.CNPJ
                    </address>
                            </div>

                            <div class="column text small eight wide logoEmpresa">
                                <a href="#" class="econcept" title="eConcept | Marketing digital e inbound marketing para e-commerce."></a>
                                
                                <div class="divisor-vertical"></div>

                                @Html.Partial("Common/_JetLogo")

                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-block">

            </div>