﻿@{
    string _classSearch = Session["idEventList"] == null ? "search" : "filterListEventsProducts";
}


<div class="header-mobile"></div>


<div class="ui container fluid _header">
    <div class="ui container">
        <div class="ui">
            <div class="row">
                <!-- <div class="ui eight wide mobile five wide tablet four wide computer column"> -->
                <div class="logo-header">
                    <a href="/Home" title="Página Inicial">
                        <img class="ui middle aligned image logo" src="/assets/image/logo/logo.png" alt="@LojaCorp.Control.Company._Company.FantasyName" title="@LojaCorp.Control.Company._Company.FantasyName">
                    </a>
                </div>
                <!-- <div class="ui two wide tablet three wide computer column televendas"> -->
                <div class="televendas">
                    <div class="title">TELEVENDAS</div>
                    <b>(11) 4176-4455</b>
                </div>
                <!-- <div class="ui center aligned six wide tablet five wide computer column searchcolumn"> -->
                <div class="searchcolumn">
                   <div class="ui category @_classSearch">
                        <div class="ui icon input fluid">
                            <input class="prompt" type="text" placeholder="Pesquise por nome, tipo de produto ou marca...">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
                <!-- <div class="ui eight wide mobile three wide tablet four wide computer column"> -->
                <div class="boxbuttons">
                    <div class="ui contabutton">
                        <a href="/customer" title="Minha Conta">
                            <span class="icon"></span>
                            <span class="text mobile-hide">MINHA CONTA</span>
                        </a>


                        @if (Session["UserAuthenticated"] == null || (Convert.ToBoolean(Session["Guest"]) == true))
                        {
                            <div class="boxbuttons-menu">
                                <div class="boxbuttons-menu-wrapper nao-logado">
                                    <a href="/customer" class="item" title="Minha Conta">Minha Conta</a>
                                    <a href="/order" class="item" title="Meus Pedidos">Meus Pedidos</a>
                                    <a href="/fale-conosco" class="item" title="Fale Conosco">Fale Conosco</a>
                                </div>
                            </div>
                        }
                        @if ((Session["UserAuthenticated"] != null) && (Convert.ToBoolean(Session["Guest"]) == false))
                        {
                            var userAuthenticated = (DomainCustomer.Entities.Customer)Session["UserAuthenticated"];

                            Char delimiter = ' ';
                            String[] nickName = userAuthenticated.Name.Split(delimiter);

                            <div class="boxbuttons-menu">
                                <div class="boxbuttons-menu-wrapper logado">
                                    <span>Olá <b id="userNameCommon">@nickName[0]</b></span>
                                    <a href="/customer" class="item" title="Minha Conta">Minha Conta</a>
                                    <a href="/order" class="item" title="Meus Pedidos">Meus Pedidos</a>
                                    <a href="~/fale-conosco" class="item" title="Fale Conosco">Fale Conosco</a>
                                    <a href="/customer/logout" class="item" title="Sair"><i class="sign out icon"></i>Sair</a>
                                </div>
                            </div>
                        }
                       @Html.Action("B2BIsActived", "Company", null)     


                     </div>


                    <div id="cartButton" class="ui cartbutton mini-cart" tabindex="0" data-segment="@(Session["segment"] != null ? Session["segment"] : "b2c")">
                        <span class="icon"></span>
                        <span class="text mobile-hide">@(Session["idEventList"] == null && Session["EventList"] == null ? "CARRINHO" : "Minha Lista")</span>
                        <span id="total_itens_card">
                            @{

                                if (Session["EventList"] == null)
                                {
                                    @Html.Action("TotalItensCart", "Checkout")
                                }
                                else
                                {
                                    @Html.Action("TotalItensList", "EventList")
                                }
                            }
                        </span>
                    </div>
                    <div class="ui searchMobile mobile only">
                        <div class="ui button icon centered">
                            <i class="search icon"></i>
                        </div>
                        <div class="ui blocoBusca @_classSearch">
                            <div class="ui icon input fluid">
                                <input class="prompt" type="text" placeholder="Buscar...">
                                <i class="search icon"></i>
                            </div>
                            <div class="results"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

