﻿@{
    string _classSearch = Session["idEventList"] == null ? "search" : "filterListEventsProducts";
}


<div class="header-mobile"></div>

<header class="_header2 visible-mobile">
    <div class="_header2-menu_hamburger visible-mobile">
        <img src="/assets/image/icon-menu_mobile.png" alt="Icone Menu Mobile">
    </div>
    <div class="_header2-logo-selo">
        <div class="_header2-logo">
            <a href="/Home" title="Página Inicial">
                <img src="/assets/image/logo/logo.png" alt="@LojaCorp.Control.Company._Company.FantasyName" title="@LojaCorp.Control.Company._Company.FantasyName">
            </a>
        </div>
        <div class="_header2-selo">
            <a href="/Home" title="Página Inicial">
                <img src="/assets/image/selos/selo32_anos.png" alt="Selo 32 anos de tradição" title="Selo 32 anos de tradição">
            </a>
        </div>
    </div>
    <div class="_header2-buttons">
        <div class="minha-conta">
            <a href="/customer">
                <img src="/assets/image/user-header.png" alt="Icone Header Minha Conta">
                Olá
                <strong>Minha Conta</strong>
            </a>                        
        </div>
        <div class="minha-compra">
            <a href="/order">
                <img src="/assets/image/shopping_cart-header.png" alt="Icone Header Minhas Compras">
                Minhas Compras
            </a>
        </div>
    </div>
    <div class="_header2-search_mobile visible-xs visible-sm">
        <div class="searchcolumn">
            <div class="ui category @_classSearch">
                <div class="ui icon input fluid">
                    <input class="prompt" type="text" placeholder="O que você está procurando?">
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
    </div>
</header>

<header class="_header2 hidden-mobile">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="_header2-logo">
                    <a href="/Home" title="Página Inicial">
                        <img src="/assets/image/logo/logo.png" alt="@LojaCorp.Control.Company._Company.FantasyName" title="@LojaCorp.Control.Company._Company.FantasyName">
                    </a>
                </div>
            </div> 
            <div class="col-sm-1"> 
                <div class="_header2-selo">
                    <a href="/Home" title="Página Inicial">
                        <img src="/assets/image/selos/selo32_anos.png" alt="Selo 32 anos de tradição" title="Selo 32 anos de tradição">
                    </a>
                </div>
            </div> 
            <div class="col-sm-2"> 
                <div class="_header2-televendas">
                    <span>Televendas</span>
                    <a href="tel:1141764455">(11) 4176-4455</a>
                </div>
            </div> 
            <div class="col-sm-4"> 
                <div class="searchcolumn">
                    <div class="ui category @_classSearch">
                        <div class="ui icon input fluid">
                            <input class="prompt" type="text" placeholder="O que você está procurando?">
                            <i class="search icon"></i>
                        </div>
                        <div class="results"></div>
                    </div>
                </div>
            </div> 
            <div class="col-sm-3">
                <div class="_header2-buttons">
                    <div class="minha-conta">
                        <a href="/customer">
                            <img src="/assets/image/user-header.png" alt="Icone Header Minha Conta">
                            <span>Olá! <i class="arrow"></i> </span>
                            <span>Minha Conta</span>
                        </a>                        
                    </div>
                    <div class="minha-compra">
                        <a href="/order">
                            <img src="/assets/image/shopping_cart-header.png" alt="Icone Header Minhas Compras">
                            <span>Minhas Compras</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>