﻿@model List<DomainProduct.Entities.Category>

<div class="blur"></div>
<nav class="mobile-nav">
    <span class="menu-icon">
        <img src="/assets/image/icon-menu_mobile.png" alt="Icone Menu Mobile">
    </span>
    <ul>
        @{int counter_all = 1;}
        <li data-id="todos_departamentos-display" class="todos_departamentos" >Todos as Categorias<span class="arrow"></span></li>
        <div class="todos_departamentos-display">
        <p>Todos as Categorias</p>
        <span class="back-button"><span class="arrow"></span>Voltar</span>
        <div class="todos_departamentos-display_scroll">
            @foreach (DomainProduct.Entities.Category category in Model ){
                if (category.ChildCategories != null && category.ChildCategories.Any()){
                    <ul>
                        @if (category.Level.Length == 2){
                            <li data-id="menu-all-@counter_all">@category.Name <span class="arrow"></span></li>
                            if (category.ChildCategories != null && category.ChildCategories.Any()){
                                <div class="sub-menu menu-all-@counter_all">
                                    <p><span>Todos as Categorias /</span> @category.Name</p>
                                    <span class="back-button"><span class="arrow"></span>Voltar</span>
                                    <ul>
                                        @if (category.ChildCategories != null && category.ChildCategories.Any()){
                                            foreach (DomainProduct.Entities.Category subCategoryLevel1 in category.ChildCategories){
                                                <li>
                                                    <a href="@subCategoryLevel1.UrlFriendly" title="@category.Name">@subCategoryLevel1.Name</a>
                                                </li>
                                            }  
                                            if (category.ChildCategories.ToArray().Length > 6){
                                                <li class="last-item">
                                                    <a href="@category.UrlFriendly" title="@category.Name">
                                                        + Veja Mais
                                                    </a>
                                                </li>
                                            }
                                        }
                                    </ul>

                                </div>
                            }
                        }else{
                            <li><a href="@category.UrlFriendly" title="@category.Name">@category.Name</a></li>
                        }
                    </ul>
                }
                counter_all = counter_all + 1;
            }
        </div>
        </div>
        @{int counter = 1;}
        @foreach (DomainProduct.Entities.Category category in Model){
            if (category.Level.Length == 2){
                if (category.Image != null){
                    <li data-id="menu-@counter">@category.Name <span class="arrow"></span></li>
                    if (category.ChildCategories != null && category.ChildCategories.Any()){
                        <div class="sub-menu menu-@counter">
                            <p>@category.Name</p>
                            <span class="back-button"><span class="arrow"></span>Voltar</span>
                            <ul>
                                @if (category.ChildCategories != null && category.ChildCategories.Any()){
                                    foreach (DomainProduct.Entities.Category subCategoryLevel1 in category.ChildCategories.Take(8)){
                                        <li>
                                            <a href="@subCategoryLevel1.UrlFriendly" title="@category.Name">@subCategoryLevel1.Name</a>
                                        </li>
                                    }  
                                    if (category.ChildCategories.ToArray().Length > 6){
                                        <li class="last-item">
                                            <a href="@category.UrlFriendly" title="@category.Name">
                                                + Veja Mais
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>

                        </div>
                    }
                }
            }else{
                <li><a href="@category.UrlFriendly" title="@category.Name">@category.Name</a></li>
            }
            counter = counter + 1;
        }
        <!-- // <li><a href="/promocoes" title="Promoções">Promoções</a></li> -->
    </ul>
    <div class="mobile-nav--televendas">
        <img src="/assets/image/icon-televendas_mobile.png" alt="Icone Televendas">
        <a href="tel:1141764455"><span>Televendas:</span> (11) 4176-4455</a>
    </div>
</nav>

<div class="_header2-menu hidden-xs hidden-sm">
    <div class="container">
        <div class="col-xs-12">
            <ul>
            <li class="all_categories">
                <a title="Todas as Categorias">Todas as Categorias</a>
                <ul>
                @foreach (DomainProduct.Entities.Category category in Model){
                    if (category.Level.Length == 2){
                        <li><a href="@category.UrlFriendly" title="@category.Name">@category.Name<span class="arrow"></span></a>
                            @if (category.ChildCategories != null && category.ChildCategories.Any()){
                                <ul>
                                    @if (category.ChildCategories != null && category.ChildCategories.Any()){
                                        foreach (DomainProduct.Entities.Category subCategoryLevel1 in category.ChildCategories){
                                            <li>
                                                <a href="@subCategoryLevel1.UrlFriendly" title="@category.Name">@subCategoryLevel1.Name</a>
                                            </li>
                                        } 
                                    }
                                </ul>                                
                            }
                        </li>
                    }else{
                        <li><a href="@category.UrlFriendly" title="@category.Name">@category.Name</a></li>
                    }
                }
                </ul>
            </li>

            @foreach (DomainProduct.Entities.Category category in Model){
                if (category.Level.Length == 2){
                    if (category.Image != null){
                        <li data-id="menu-@counter"><a href="@category.UrlFriendly" title="@category.Name">@category.Name</a>
                        @if (category.ChildCategories != null && category.ChildCategories.Any()){
                            <div class="sub-menu menu-@counter">
                                <ul>
                                    @if (category.ChildCategories != null && category.ChildCategories.Any()){
                                        foreach (DomainProduct.Entities.Category subCategoryLevel1 in category.ChildCategories.Take(8)){
                                            <li>
                                                <a href="@subCategoryLevel1.UrlFriendly" title="@category.Name">@subCategoryLevel1.Name</a>
                                            </li>
                                        }  
                                        if (category.ChildCategories.ToArray().Length > 6){
                                            <li class="last-item">
                                                <a href="@category.UrlFriendly" title="@category.Name">
                                                    + Veja Mais
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                                @{
                                        string linkCategoriaImagem = null;
                                        if (category.Link != null)
                                        {
                                            linkCategoriaImagem = @category.Link;
                                        }
                                        else
                                        {
                                            linkCategoriaImagem = @category.UrlFriendly;
                                        }
                                    }
                                <a href="@linkCategoriaImagem" title="@category.Image" title="@category.Name">
                                    <img class="ui image" src="@category.Image" alt="@category.Name" title="@category.Name"/>
                                </a>
                            </div>
                        }
                        </li>
                    }
                }
                counter = counter + 1;
            }
            <!-- <li class="promotion"> <a href="/promocoes" title="Promoções">Promoções</a></li> -->
            </ul>
        </div>
    </div>
</div>