﻿@model List<DomainProduct.Entities.Category>

<div class="ui container fluid menuheader">
    <div class="overlapblackbg"></div>
    <div class="ui container">
        <div class="wsmobileheader clearfix">
            <a id="wsnavtoggle" class="animated-arrow"><span></span></a>
        </div>
        
        <div class="wsmain">
            <nav class="wsmenu">


                <div class="ui mobile only titleMenu"><i class="content icon"></i> MENU</div>
                

                <ul class="mobile-sub wsmenu-list ui menu">
                    @foreach (DomainProduct.Entities.Category category in Model)
                    {
                        if (category.Level.Length == 2)
                        {
                            <li>
                                <a href="@category.UrlFriendly" class="item" title="@category.Name">
                                    <i>@category.Name
                                    @if (category.ChildCategories != null && category.ChildCategories.Any())
                                    {
                                        <i class="dropdown icon"></i>
                                    }
                                    </i>
                                </a>
                                @if (category.ChildCategories != null && category.ChildCategories.Any())
                                {
                                    <div class="megamenu clearfix">
                                        <ul class="megamenu-wrapper">
                                                <div class="menu-list">
                                                        @if (category.ChildCategories != null && category.ChildCategories.Any())
                                                        {
                                                            foreach (DomainProduct.Entities.Category subCategoryLevel1 in category.ChildCategories)
                                                            {
                                                                <li>
                                                                        <a href="@subCategoryLevel1.UrlFriendly" title="@subCategoryLevel1.Name">@subCategoryLevel1.Name</a>
                                                                        @if (subCategoryLevel1.ChildCategories != null && subCategoryLevel1.ChildCategories.Any())
                                                                        {
                                                                            <div class="ui divider"></div>
                                                                            foreach (var subCategoryLevel2 in subCategoryLevel1.ChildCategories)
                                                                            {
                                                                                <a class="item" href="@subCategoryLevel2.UrlFriendly" title="@subCategoryLevel2.Name">@subCategoryLevel2.Name</a>
                                                                            }
                                                                        }
                                                                </li>
                                                            }
                                                        }
                                                        @if (category.ChildCategories.ToArray().Length > 6)
                                                        {
                                                        <li class="last-item">
                                                            <a href="@category.UrlFriendly" title="@category.Name">
                                                                + Veja Mais
                                                            </a>
                                                        </li>
                                                        }
                                                </div>
                                                @if (category.Image != null)
                                                {
                                                    <div class="menu-image mobile-hide">
                                                        @{
                                                            string linkCategoriaImagem = null;
                                                            if (category.Link != null)
                                                            {
                                                                linkCategoriaImagem = @category.Link;
                                                            }
                                                            else
                                                            {
                                                                linkCategoriaImagem = @category.UrlFriendly;
                                                            }
                                                        }
                                                        <a href="@linkCategoriaImagem" title="@category.Image" title="@category.Name">
                                                            <img class="ui image" src="@category.Image" alt="@category.Name" title="@category.Name"/>
                                                        </a>
                                                    </div>
                                                }

                                        </ul>
                                    </div>
                                }
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="item" href="~/category/index/@category.IdCategory" title="@category.Name"><span>@category.Name</span></a>
                            </li>
                        }
                    }
                </ul>



                <div class="ui menu-all">
                    <span class="title">Todas as Categorias</span>


                    <div class="megamenu-all">
                    <ul class="ui wsmenu-list-all">
                    @{
                        string PathUrl = Request.Path;
                    }

                    @foreach (DomainProduct.Entities.Category category in Model)
                    {
                        if (category.Level.Length == 2)
                        {
                            string currentClass = (category.UrlFriendly == PathUrl) ? "current-class" : ""; 
                            <li>

                                <a href="@category.UrlFriendly" class="item @currentClass" title="@category.Name">
                                    @category.Name
                                    @if (category.ChildCategories != null && category.ChildCategories.Any())
                                    {
                                        <i class="dropdown icon"></i>
                                    }
                                </a>
                                @if (category.ChildCategories != null && category.ChildCategories.Any())
                                {
                                    <div class="megamenu-child clearfix">
                                        <ul class="megamenu-child-wrapper">
                                                <div class="menu-list">
                                                        @if (category.ChildCategories != null && category.ChildCategories.Any())
                                                        {
                                                            foreach (DomainProduct.Entities.Category subCategoryLevel1 in category.ChildCategories)
                                                            {
                                                                currentClass = (subCategoryLevel1.UrlFriendly == PathUrl) ? "current-class" : ""; 
                                                                <li>
                                                                        <a href="@subCategoryLevel1.UrlFriendly" class="@currentClass" title="@subCategoryLevel1.Name">@subCategoryLevel1.Name</a>
                                                                        @if (subCategoryLevel1.ChildCategories != null && subCategoryLevel1.ChildCategories.Any())
                                                                        {
                                                                            <div class="ui divider"></div>
                                                                            foreach (var subCategoryLevel2 in subCategoryLevel1.ChildCategories)
                                                                            {
                                                                                <a class="item" href="@subCategoryLevel2.UrlFriendly"  title="@subCategoryLevel2.Name">@subCategoryLevel2.Name</a>
                                                                            }
                                                                        }
                                                                </li>
                                                            }
                                                        }
                                                        @if (category.ChildCategories.ToArray().Length > 4)
                                                        {
                                                        <li class="last-item">
                                                            <a href="@category.UrlFriendly" title="@category.Name">
                                                                + Veja Mais
                                                            </a>
                                                        </li>
                                                        }
                                                </div>

                                                @if (category.Image != null)
                                                {
                                                    <div class="menu-image mobile-hide">
                                                        @{
                                                            string linkCategoriaImagem = null;
                                                            if (category.Link != null)
                                                            {
                                                                linkCategoriaImagem = @category.Link;
                                                            }
                                                            else
                                                            {
                                                                linkCategoriaImagem = @category.UrlFriendly;
                                                            }
                                                        }
                                                        <a href="@linkCategoriaImagem" title="@category.Image" title="@category.Name">
                                                            <img class="ui image" src="@category.Image" alt="@category.Name" title="@category.Name"/>
                                                        </a>
                                                    </div>
                                                }

                                        </ul>
                                    </div>
                                }
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="item" href="~/category/index/@category.IdCategory" title="@category.Name"><span>@category.Name</span></a>
                            </li>
                        }
                    }
                    </ul>
                    </div><!-- megamenu-all -->
                </div>


            </nav>
        </div>
    </div>
</div>


