﻿@model DomainProduct.Entities.Brand

@{
    ViewBag.Title = string.IsNullOrEmpty(Model.Title) ? Model.Name : Model.Title;
    Layout = "~/Views/Shared/Base/_LayoutBreadCrumbLeftSideBar.cshtml";
}

@section CustomSeo {
    @{
        if (!String.IsNullOrEmpty(Model.MetaDescription))
        {
            <meta name="Description" content="@Model.MetaDescription">
        }
    }
}

@section breadcrumbs {
    <div class="ui two column centered grid stackable middle aligned breadcrumbs">
        <div class="row">
            <div class="container">
                <div class="column">
                    <span class="nome-cat">@Model.Name</span>
                    <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="ui breadcrumb">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
                                <span itemprop="name">Home</span>
                                <meta itemprop="url" content="/">
                            </a>
                            <meta itemprop="position" content="1" />
                        <i class="right angle icon divider"></i>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <h1 itemprop="name">@(Model != null ? Model.Name : "")</h1>
                            <meta itemprop="url" content="/@(Model.Name)">
                            <meta itemprop="position" content="2" />
                        </li>
                    </ol>
                    </div>
                </div>
            </div>
        </div>
    <div class="ui divider"></div>
}
@*
    @section banner {
        @if (Model != null)
        {
            <div class="sixteen wide column">
                @Html.Action("CentralHalfBannerBrand", "Banner", new { brandID = Model.IdBrand })
            </div>
        }
    }
*@

@section filters {
    <div class="four wide column filterColumn">
        <div class="row one column id="filterBlock">
            <!-- Page: ~/Views/Shared/Common/_FilterMenu.cshtml -->
            @if (LojaCorp.Control.Company._Company.ViewProductFiltersUrl)
            {
                @Html.Action("FilterMenuNew", "Product", new { category = "", brand = Model.IdBrand, group = "", keyword = "" })
            }
            else
            {
                @Html.Action("FilterMenu", "Product")
            }
        </div>
        <div class="row">
            <!-- Page: ~/Views/Shared/Blocks/Banner/_SideHalfBanner.cshtml -->
            @Html.Action("SideHalfBannerBrand", "Banner", new { brandId = Model.IdBrand })
        </div>
    </div>
}

<div class="twelve wide column">
    <div class="ui grid">
        <div class="row one column">
            <div class="column right aligned right floated">
                <button class="ui mobile only left floated icon button basic filterbutton right labeled small" data-tooltip="Filtros" data-inverted="">
                    <i class="filter icon"></i>
                    Filtros
                </button>
                <div class="ui dropdown button basic dropdownorder small">
                    <span class="text">Ordenar por</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="lancamentos">
                            <i class="asterisk icon"></i>
                            Lançamentos
                        </div>
                        <div class="item" data-value="maior_preco">
                            <i class="sort numeric descending icon"></i>
                            Maior Preço
                        </div>
                        <div class="item" data-value="mais_vendidos">
                            <i class="diamond icon"></i>
                            Mais Vendidos
                        </div>
                        <div class="item" data-value="menor_preco">
                            <i class="sort numeric ascending icon"></i>
                            Menor Preço
                        </div>
                        <div class="item" data-value="nome_a_z">
                            <i class="sort alphabet ascending icon"></i>
                            Nome [A-Z]
                        </div>
                        <div class="item" data-value="nome_z_a">
                            <i class="sort alphabet descending icon"></i>
                            Nome [Z-A]
                        </div>
                        
                        
                        </div>
                        </div>
                <button id="viewgrid" class="ui icon button basic small viewgrid mobile hide" data-tooltip="Grid" data-inverted="">
                    <i class="grid layout icon"></i>
                </button>
                <button id="viewlist" class="ui icon button basic small viewlist mobile hide" data-tooltip="Lista" data-inverted="">
                    <i class="list layout icon"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="list">
        <!-- ~/Views/Shared/Blocks/Product/_ProductsCategoryList.cshtml -->
        
        @if (Model != null)
        {
            <div class="brandProducts">
                @Html.Action("GetProducts", "Product", new
           {
               category = Request.QueryString["category"] ?? "",
               viewList = Request.QueryString["viewList"] ?? "",
               pageNumber = Request.QueryString["pageNumber"] ?? "",
               pageSize = 12, 
               order = Request.QueryString["order"] ?? "",
               brand = Model.IdBrand, 
               group = Request.QueryString["group"] ?? "",
               initialPrice = Request.QueryString["initialPrice"] ?? "",
               finalPrice = Request.QueryString["finalPrice"] ?? "",
               variations = Request.QueryString["variations"] ?? "",
               idAttribute = Request.QueryString["idAttribute"] ?? "",
               idCategories = Request.QueryString["idCategories"] ?? ""
           })
            </div>
        }
    </div>
</div>

@section custom_js{
    <script>
        window.filterManipulation = { idBrand: @Model.IdBrand };
    </script>
}